[2014-10-29 08:10] jroper opened #1 "Move mailer into its own package"
Currently the package of the mailer is `com.typesafe.plugins`.  It should probably be `play.libs.mailer` for Java and `play.api.libs.mailer` for Scala.

[2014-10-29 08:13] jroper opened #2 "Provide convenience method for getting a reference to the mailer API"
Previously the play-mailer depended on play plugins util for users to conveniently access it.  Let's remove this dependency.

Instead create an object that takes an implicit application to get the mailer in Scala, and a plain old static method in Java.

For Play 2.4, we should switch to using the new modules API and expect people to use DI.

[2014-10-29 20:26] ggrossetie opened #3 "Use case class in Scala instead of ThreadLocal"
Here is a Gist with a first design of the new API for Scala: https://gist.github.com/Mogztter/2dd50318baf53c64231b

We can also provide a "Java" like builder API using `var`: https://gist.github.com/kencoba/1874015. That way we can have a similar API between Scala and Java and also be "retrocompatible" but I dont know if it's a good idea... this pattern is a bit awkward in Scala.

[2014-11-24 02:50] #1 closed, assigned to ggrossetie

[2014-11-25 17:30] mhzajac opened #6 "What package should the MailerPlugin be located in?"
The sample application included fails to compile because it's looking for `MailerPlugin` inside `play.api.libs.mailer`. On inspection of the latest 2.3.1 release, it appears to still be located within the `com.typesafe.plugin` namespace.

The namespace changes on github don't appear to be reflected in the published jar.

[2014-11-26 04:33] dspasojevic opened #7 "Socket timeouts"
Hi,

Is it possible to configure the connect and I/O timeouts?

I (think) that I can see that they are not configurable as plugin settings, but I am not sure whether it is possible to configure the underlying javax.mail session directly.

Setting mail.smtp.timeout and mail.smtp.connectiontimeout as system properties has no effect since commons-email's org.apache.commons.mail.Email has a default ti

[2014-11-27 04:43] #2 closed, assigned to ggrossetie

[2014-12-02 22:59] #7 closed, assigned to nobody

[2014-12-03 12:26] #6 closed, assigned to nobody

[2014-12-03 19:28] ggrossetie opened #10 "Integrate with email service providers"
There are a lot of email service providers with Web API:
- SendGrid - https://sendgrid.com/docs/API_Reference/Web_API/mail.html
- mailgun - http://documentation.mailgun.com/api-sending.html#sending
- Mailjet - http://dev.mailjet.com/guides/send-api-guide/
- ...

It could be nice to provide an abstraction/extension point to allow users to switch from one provider to another (with SMTP as the defaul

[2014-12-08 03:10] ceecer1 opened #12 "Misleading ReadMe.md"
Looks like the Readme.md is misleading. The information doesnot help while testing for Play 2.3.6.

[2014-12-08 10:04] #12 closed, assigned to nobody

[2014-12-08 12:35] ggrossetie opened #13 "Create a sendAsync method"
When I send an email I don't want to "block" my process. I'm using Akka to "schedule" the send:

[code]

Maybe we can add a `sendAsync` to the API to do that ? or just an example in the documentation ?
And it might be better to return a `Future` ?

[2014-12-08 18:36] hendrik-weiler opened #14 "NoClassDefFoundError org/apache/commons/mail/MultiPartEmail"
Hello im working on a play project
and im trying to get this plugin working.

But im getting this error:

[code]

https://gist.github.com/hendrik-weiler/8def78a77f2802a69c18

Ive build the plugin from source and add it to the lib folder.
Im running the dist application using this script:
https://github.com/rpgboss/rpgboss-asset-server/blob/master/run-asset-server.sh

The project im working on:
htt

[2014-12-09 09:07] #14 closed, assigned to nobody

[2014-12-09 12:59] helllamer opened #15 ""Could not find a suitable constructor in com.typesafe.plugin.CommonsMailerPlugin" on play-2.4.0-M2"
Trying to friend `play-2.4` with `play-mailer` plugin, but:

[code]

[2014-12-12 03:27] #3 closed, assigned to nobody

[2014-12-12 18:46] Mogztter opened #16 "Release version 2.4.0 and 3.0.0-M1"
@jroper Since we are breaking the API, I think it would be great to release version 2.3.6 to mark that change and update the README accordingly.

[2014-12-18 08:29] sergiuszkierat opened #18 "object mailer is not a member of package play.api.libs"
There is an issue with using **"com.typesafe.play.plugins" %% "play-plugins-mailer" % "2.3.1"**
as described here [https://github.com/playframework/play-mailer/blob/master/README.md].

Take a look at contents of [http://repo.typesafe.com/typesafe/releases/com/typesafe/play/plugins/play-plugins-mailer_2.11/2.3.1/play-plugins-mailer_2.11-2.3.1.jar]

[code]

There isn't a package **play.api.libs**

I

[2014-12-19 00:18] #18 closed, assigned to nobody

[2014-12-19 12:48] #15 closed, assigned to nobody

[2014-12-19 12:54] ggrossetie opened #19 "Update the README to explain the current state of the project"
- [ ] What is the latest version compatible with Play 2.3 and Play 2.4

[2014-12-29 23:05] #19 closed, assigned to nobody

[2014-12-29 23:34] Mogztter opened #21 "Use modules instead of plugins with Play 2.4"
Use the new Play 2.4 dependency injection with modules instead of plugins.

https://playframework.com/documentation/2.4.0-M2/ScalaDependencyInjection#Play-libraries

[2015-01-08 20:32] Mogztter commented on #21
Resolved by #23 in 75d3666

[2015-01-08 20:32] #21 closed

[2015-01-08 20:38] Mogztter commented on #16
@jroper Hi, can we proceed with the release of `3.0.0-M1` and `2.4.0` ?
In meantime I updated the README to avoid confusion.

[2015-01-09 00:18] jroper commented on #16
Done, pending central sync.

[2015-01-09 18:32] Mogztter commented on #16
Thanks!

[2015-01-13 10:10] #16 closed

[2015-01-23 21:18] techmag opened #26 "How is someone that is not (yet) fully Play/Scala/SBT literate supposed to tell what the actual version number is?"
I've tried

[code]
[code]
(just in case this was supposed to be an automatic thingy...)

There must be some "obvious" way to determine exactly what the current version is to the initiated.

Please initiate me :)

I fell in love with Play -- turns out that I'm really starting to hate sbt :(

[2015-01-23 21:40] Mogztter commented on #26
Hi @techmag,

Could you copy and paste the content of your `build.sbt` ?

[2015-01-23 21:53] techmag commented on #26
build.st

=======================
name := """TechnicalMagicWeb2"""

version := "1.0-SNAPSHOT"

lazy val root = (project in file(".")).enablePlugins(PlayScala)

scalaVersion := "2.11.1"

libraryDependencies ++= Seq(
  jdbc,
  anorm,
  cache,
  ws
)
=======================

[2015-01-23 22:40] Mogztter commented on #26
And where do you define the dependency on `com.typesafe.play#play-mailer` ?

[2015-01-24 18:48] techmag commented on #26
OK - Now I have the following in build.st and it appears to work (Activator loads without complaint) -- need and end to end test where email actually goes out before I have full confirmation however. Currently have an elephant in the queue so it might be a few days before I get around to that.

import com.github.play2war.plugin._

name := """AlphaICRM"""

version := "0.9-SNAPSHOT"

Play2WarPlugin.

[2015-01-24 18:48] #26 closed

[2015-01-24 19:33] Mogztter commented on #26
You're welcome! I hope that you'll find the play-mailer useful :smile:

Yes indeed, we tried to keep the README concise but I'm sure we can improve it. Maybe we can add a link to the `sample/build.sbt` to explain how to add the dependency in a Play! project ? And explicitly say that the artifacts are published in Maven central with a link on (http://search.maven.org) ? Wdyt ?

[2015-02-14 07:20] devpad opened #27 "Bug encoding in setFrom()"
Mistake in a name of the sender when using cyrillics

[code]
Output:
```From: ""5AB" <test@example.com>```

Should be so:
```From: =?UTF-8?B?0KLQtdGB0YI=?= <test@example.com>```

[2015-02-14 17:03] Mogztter commented on #27
Hello @devpad, can I ask you where the output came from ? I guess it's from the [mock implementation](https://github.com/playframework/play-mailer/blob/master/src/main/scala/play/api/libs/mailer/MailerPlugin.scala#L149)  but I want to be sure.

Thanks,
Guillaume.

[2015-02-15 11:21] devpad commented on #27
Hello @Mogztter, yes, the original letter in Gmail, shows the same output.

[2015-02-15 12:48] Mogztter commented on #27
Ok I will do some testing on this issue, thanks.

[2015-02-15 13:07] Mogztter commented on #27
@devpad is your source code encoded in UTF-8 ?

[2015-02-15 13:42] devpad commented on #27
@Mogztter, yes, source codes in UTF-8. The setFrom() method doesn't code a user name in UTF-8 whereas in the addTo() method everything works correctly.

Example:
[code]

Output in gmail:
[code]

[2015-02-15 14:39] Mogztter commented on #27
Strange... the play-mailer extension is based on Apache commons email and the code is similar between `setFrom` and `addTo`:

 * setFrom() : http://commons.apache.org/proper/commons-email/apidocs/src-html/org/apache/commons/mail/Email.html#line.746
 * addTo : http://commons.apache.org/proper/commons-email/apidocs/src-html/org/apache/commons/mail/Email.html#line.767

You are using the plugin in Jav

[2015-02-17 11:02] #27 closed

[2015-04-21 13:35] F0REacH opened #33 "Release with bugfixes."
Hi. Can you make 2.4.1 or 2.4.1-SNAPSHOT release. I need issues from this commit : 3ae39a8d55ea26def38253cac8d4298ca703f03c
to be fixed pretty bad.
Thanks

[2015-04-21 15:16] Mogztter commented on #33
Hi @F0REacH, yes sure, I can backport the commit and then ask @jroper to do the release.
If you want you can do the backport yourself (using cherry-pick).

[2015-04-21 15:33] F0REacH commented on #33
Thanks. I'm not so familiar with git infrastructure and maybe there are some other commits which need to be included. So you guys can do better then me. I just reminded you about this issue and I would be grateful if you make it when you have time.

[2015-04-22 08:01] Mogztter commented on #33
I though the commit was on `play24` branch, no need to backport anything... @jroper could you make a 2.4.1 release please ?

[2015-04-22 11:43] jroper commented on #33
@Mogztter done, pending central sync.

[2015-04-22 17:50] F0REacH commented on #33
Nice :+1: Thank you

[2015-04-22 17:50] #33 closed

[2015-04-26 22:47] scaryroy opened #34 "MailPlugin not found in 3.0.0-M1"
I checked the contribution guidelines, and I still didnt know whether I should post this on the mailing list or here. But the 3.0.0-M1 is broken and not compatible with play2.4, as (I checked in the code) it does not have the MailPlugin object. Are you able to release a M2 as soon as you get the chance?

[2015-04-27 01:03] jroper opened #36 "Move to new configuration structure"
We've migrated all of the Play config to provide all defaults in `reference.conf`, even optional values, these get a default of `null`, and documenting everything in there.  play-mailer should do this too.  Additionally, we've namespaced everything in `play`.  I think the mailer should use the namespace of `play.mailer`.

Whoever implements this, take a look at `play.api.PlayConfig`, this can be u

[2015-04-28 18:37] Mogztter commented on #34
Opening an issue on GitHub is fine.

Are you using Play 2.4.0-RC1 ? @jroper made some changes to make the plugin compatible with RC1, see #35

[2015-05-01 00:27] scaryroy commented on #34
It was my mistake,

For play2.4, you dont need to add 1500:play.api.libs.mailer.CommonsMailerPlugin into your conf/play.plugins

[2015-05-01 00:27] #34 closed

[2015-05-05 10:39] FrEaKmAn opened #37 "Support for cid"
I'm trying to generate an email with inline image. Based on my tests, it seems that there is no way to define cid (it's not included in generated mail) for an inline attachment.

Can you please verify?

[2015-05-05 16:16] Mogztter commented on #37
Hello @FrEaKmAn, could you please attach the code you are using ?
Another solution is to use an HTML body but INLINE images should work.

[2015-05-05 19:41] FrEaKmAn commented on #37
val files = Set(AttachmentData("chart", Files.readAllBytes(chartFilePath), "image/jpeg", None, Some(EmailAttachment.INLINE)))

    val email = new Email(
      subject,
      from,
      recipients,
      bodyText = Some("email test"),
      bodyHtml = Some("<html><body><img src="cid:chart" width="500" /></body></html>"),
      attachments = files.toSeq
    )

I think I copied everything OK (not S

[2015-05-05 20:50] Mogztter commented on #37
I'm not familiar with Content-ID but I think that the inline attachment and the cid are two separated things in commons email.
Inline attachment are handled with the [attach()](https://commons.apache.org/proper/commons-email/apidocs/org/apache/commons/mail/MultiPartEmail.html#attach(java.net.URL, java.lang.String, java.lang.String, java.lang.String)) method. But to embed an image we should use the

[2015-05-05 21:00] FrEaKmAn commented on #37
Yes, there is a nice example under **Sending HTML formatted email section** (https://commons.apache.org/proper/commons-email/userguide.html)

Using base64 is not an option. Similar for hosting the image.

CommonsMailer has everything already implemented, we just need to extend play-mailer.

[2015-05-06 00:19] jroper commented on #37
On data images - a number of mail clients don't support data images, and many of the web based clients strip them out.

[2015-05-06 17:53] FrEaKmAn commented on #37
Everything is nicely described in this blog post: https://sendgrid.com/blog/embedding-images-emails-facts/

@Mogztter I agree having an extra attribute should do the trick.

[2015-05-15 12:58] mkurz opened #38 "cherry-pick changes before 3.0 release"
Following changes are not in the `play24` branch yet:
* #25
* #28
* "simplify sample" (https://github.com/playframework/play-mailer/commit/2c7656e09da6c1a88117f22537948fe5512f1b8f) (?)

Proposal: Rename current `master` branch to `2.3.x` and `play24` should become new `master` branch.

[2015-05-18 14:46] Mogztter commented on #38
Done! :smile:

[2015-05-18 14:46] #38 closed

[2015-05-18 16:12] duketon commented on #10
I just had a look through the source of this and wanted to throw in some ideas for this enhancement. With some +1's on the proposed impl I'll be happy to contribute something, hopefully of some value :grinning: :

Preemptive question: I'm not too familiar with writing plugins, is it necessary to have everything in the same source file? It would probably be better to divide things up into packages,

[2015-05-18 16:50] Mogztter commented on #10
No it's not mandatory to have everything in the same source file. You can put providers implementations in another source file.

I think it could be interesting to "qualify" each provider to let the user choose one of them (like the MockMailer):

[code]

But I don't think we need a separated module for each provider. We could instead add new bindings on the MailerModule: https://github.com/playfra

[2015-05-18 16:52] duketon commented on #10
Great, thanks @Mogztter for the quick feedback. I'll hack something up over the next few days and submit a PR.

[2015-05-19 02:06] #36 closed

[2015-05-19 05:03] duketon opened #43 "Having an issue building the master branch (JDK?)"
When trying to compile `master` I get :

[code]

The `2.3.x` branch builds find. From what I can tell the only diff between the branches that would cause issues with building is the switch to v8 of the JDK. Which is strange since I'm running Java 8:

[code]

[code]

Any ideas? I'm probably missing something simple!
Thanks

[2015-05-19 09:03] Mogztter commented on #43
I think your Scala version must be 2.11. What is your version of `sbt` or `activator` ? How do you build the project ? Can you give us the command line ?

Thanks

[2015-05-19 09:05] duketon commented on #43
Sure,

[code]

Seems strange, not sure what else to try.

[2015-05-19 16:59] Mogztter commented on #43
And what is the command you are running ? sbt compile ?
Le 19 mai 2015 11:05 AM, "Michael Kendra" <notifications@github.com> a
écrit :

[2015-05-19 17:00] duketon commented on #43
Yes, `sbt compile`

[2015-05-19 17:49] Mogztter commented on #43
I'm using `activator`:

[code]

[code]

Maybe try to download the latest sbt version ?
Are you behind a proxy ? Because the dependency `org.json4s#json4s-native_2.10;3.2.10` is in the Maven repository : http://repo1.maven.org/maven2/org/json4s/json4s-native_2.10/3.2.10/

[2015-05-19 19:10] Mogztter opened #45 "Release a new milestone for Play 2.4.0"
I think we need to release a new milestone (M2) for Play 2.4.0 for Scala 2.10 and Scala 2.11. Maybe after https://github.com/playframework/play-mailer/pull/44 to avoid breaking changes.

[2015-05-22 21:18] duketon commented on #43
Got to the bottom of this.

I noticed I had some `org.json4s` packages in my `ivy2` local cache so I cleared them out and everything's fine now!

[2015-05-22 21:18] #43 closed

[2015-05-25 01:32] jroper commented on #45
I've just released 3.0.0-RC1.

[2015-05-25 13:21] Mogztter commented on #45
Thanks!

[2015-05-25 13:28] Mogztter commented on #45
Closed via https://github.com/playframework/play-mailer/commit/c5b54f60a1223bd5b864d78d7b0b4a4a1363a7d0

[2015-05-25 13:28] #45 closed

[2015-05-25 13:29] Mogztter commented on #10
@duketon Cool, let me know if you need help :smile:

[2015-06-01 16:19] scesbron opened #47 "play.mailer configuration does not work"
I am using play-mailer 3.0.0-RC1 with play 2.4.0 java.

When I start my app I have a warning that tolds me to use the new syntax for configuration

But with this new syntax I have an exception `java.lang.RuntimeException: play.mailer.host needs to be set in application.conf in order to use this plugin (or set play.mailer.mock to true)`

Configuration that works

    smtp {
      host = "mailtrap.i

[2015-06-01 17:11] Mogztter commented on #47
Hi @scesbron,

I think the root cause is that I added the deprecated configuration in `reference.conf` to avoid an exception but this is causing other issues... https://github.com/playframework/play-mailer/pull/44

Hopefully there's a `getDeprecatedWithFallback` method that seems to do the job :smile:

[2015-06-01 17:16] #47 closed

[2015-06-01 17:18] Mogztter commented on #47
Could you test with master ?

[2015-06-02 08:53] scesbron commented on #47
Sorry but I have always used standard dependencies : how can I test with master : do I have to fetch the repository and build it ? what kind of dependency do I declare in my project ?

[2015-06-02 14:29] Mogztter commented on #47
Do you have `activator` installed ? If yes, it's easy:

[code]

Then use the published version in your project:
[code]

[2015-06-03 06:45] scesbron commented on #47
Hi

It is ok with master

Thx

[2015-06-03 07:37] Mogztter commented on #47
OK great we will release a new version soon :)
Le 3 juin 2015 8:45 AM, "Sebastien Cesbron" <notifications@github.com> a
écrit :

[2015-06-03 21:32] techmag commented on #10
May I add https://mandrillapp.com/api/docs/ to the list?

I've looked at the code briefly - I have code in Java that has delivered close to 1 billion emails over the past 2 decades (courier industry and people would scream bloody murder if they didn't get their notifications!)

I'm trying NOT to reinvent the wheel but instead see if a great set of wheels already exists elsewhere.

Is it possible t

[2015-06-04 05:42] jroper commented on #47
3.0.1 is released.

[2015-06-04 11:25] Mogztter commented on #47
Thanks @jroper !
As a side note could you please remove the tag `v2.3.1` ? I deleted this tag and recreated a new one called `2.3.1` to stick with the naming convention. But when you release a new version this tag is pushed on GitHub.

[2015-06-04 11:38] Mogztter commented on #10
I started with this provider but didn't find time to complete this work

Yes with Play 2.4.0 you can inject multiple providers:

[code]

The default implementation is [Guice](https://github.com/google/guice) so I think you can also do programmatic injections (i.e. read a value from the database then dynamically inject the channel you want to use to send emails).

Thanks for your input, maybe we ca

[2015-06-09 16:57] schmitch opened #51 "Configuration should be changeable in Code"
Hello, currently the configuration of the Mailer is only changeable inside the application.conf,
however that is aweful since sometimes you wan't to make it User Configurable.

[2015-06-09 17:14] Mogztter commented on #51
Hi @schmitch, currently the configuration is extract from the Play configuration object but I think we need to rework that part. See https://github.com/playframework/play-mailer/pull/40#issuecomment-102887911

// jroper

Feel free to open a pull request.

[2015-06-09 18:39] schmitch commented on #51
@Mogztter yeah it's true that this needs to be reworked, however due to the fact that CommonsMailer is a injected class there is a way to work around that.

Also it sucks that send give's back a string and not a Future[String] (https://github.com/playframework/play-mailer/blob/master/src/main/scala/play/api/libs/mailer/MailerPlugin.scala#L109) if the config get's pulled from slick3 we would need t

[2015-06-09 19:08] Mogztter commented on #51
Yes, there's an open issue about that: https://github.com/playframework/play-mailer/issues/13

[2015-06-15 04:19] jroper commented on #47
Deleted locally and remotely.

[2015-06-18 14:04] pejaham opened #53 "Instantiation of a MailerClient"
I would like to instantiate an instance of a MailerClient outside of a Play controller or component (i.e. without dependency injection) for usage in a Util object, like:

object Util {
  val mailerClient = xxxxx
  def sendMail(email: Email) {
    mailer.send(email)
  }

Do I have to use native Guice or how does this work?

Thanks,
Peter

[2015-06-19 00:36] jroper commented on #53
Hi @pejaham, questions like this are best asked on the Play mailing list, not the issue tracker.

You can instantiate a mailer client by going:

[code]

[2015-06-19 00:36] #53 closed

[2015-06-28 13:21] Mogztter commented on #10
@duketon Do you still work on this ?  do you need some help ?

[2015-07-08 14:16] genachka commented on #51
+1

[2015-07-08 14:24] schmitch commented on #51
+1
Since it will work even when introducing something like sendAsync. As specified in #13

[2015-07-08 15:58] pedrolopix commented on #51
+1

[2015-07-08 17:07] Mogztter commented on #51
I've created a pull request but I want feedback/review before merging. Can you take a look and tell me what you think ?

[2015-07-08 17:24] genachka commented on #51
@Mogztter
Any chance this could be back ported to the 2.3.x support?

[2015-07-08 17:36] Mogztter commented on #51
Why not... you are not ready to take the big step of Play 2.4 ? ;)
Le 8 juil. 2015 7:24 PM, "genachka" <notifications@github.com> a écrit :

[2015-07-10 13:17] schmitch commented on #51
@Mogztter could you make a new version after you've merged this (especially for sbt/mvn)?

[2015-07-10 14:33] techmag opened #56 "How does one "call" a scala class with @inject in it's constructor?"
I've documented what I'm seeing here: http://stackoverflow.com/questions/31343401/scala-play-2-4-x-how-to-call-a-class-with-inject-annotation

[2015-07-10 16:31] Mogztter commented on #56
When using dependency injection you rely on a framework to resolve your dependencies.
If you instantiate a class "on your own" the dependencies will not be resolved and the variable with the @Inject annotation will be undefined.

What you need to do is ask the DI framework to give you an instance (where the depencies will be resolved). See https://github.com/playframework/play-mailer/blob/master/s

[2015-07-10 17:46] techmag commented on #56
Sorry - I give up - looks it's going to be easier to write everything myself than it will be to get this plugin to actually work after all. I really tried not to do that. Really tried. After all the less code I write the less code I maintain. But even after I removed all the dependencies on @Inject out of this I still can't get a simple email to go out. Sorry to have wasted your time.

[2015-07-10 17:46] #56 closed

[2015-07-13 15:41] ipsq commented on #56
Because I find it incredibly important that you learn this, here is a link: http://stackoverflow.com/a/31387687/2835449

[2015-07-13 16:00] techmag commented on #56
Yes I agree that it is important and I truly appreciate your passion on this.

I have a time constraint issue with a project that I needed at least a proof of concept running so further development could commence however and 6 hours (without success) to get what should have been a 5 minute exercise really threw me for loop.

I spent the balance of the day writing a mailer (in Scala) based on the J

[2015-07-13 16:14] ipsq commented on #56
It's was confusing for me at first too. I started using Spring about 2 years ago and I did a lot of stupid things to work around some problems that hit me like unmanaged beans etc. It took me a long time (probably longer than the time I needed to learn Scala) but I'd say it was worth it. My code has gotten noticeably better.

If you have limited time on your hands, I'd stick to the primitives and

[2015-07-15 05:40] jroper commented on #51
I can cut a new version, however, I think binary compatibility may have been broken in #54. @Mogztter would you be able to add [mima](https://github.com/typesafehub/migration-manager/wiki/Sbt-plugin) to the build?

[2015-07-15 11:11] aBuder opened #58 "Test Play App with smtp.mock=true configuration param raises an error"
I hav set in my application configuration the param smpt.mock=true and I get the following error by executing the testcae. What should be wrong?

java.lang.RuntimeException: smtp.host needs to be set in application.conf in order to use this plugin (or set smtp.mock to true)
[code]
[code]

[2015-07-15 11:48] Mogztter commented on #58
Hello @aBuder,
Can you show your controller code ? What version of the plugin do you use ?

[2015-07-15 16:55] Mogztter commented on #51
I'm on vacation but I will see what I can do

[2015-07-15 23:19] Mogztter commented on #51
@jroper Here is the result (comparison with version 3.0.1):
[code]

[2015-07-16 01:51] jroper commented on #51
So, generally, that means we should cut a new major version.

But, maybe a different approach to configuration would be a better idea - at the moment, the client is mutable, when it gets reconfigured, it gets reconfigured globally.  I think a better way to do this would be to simply remove the `configure` method, and let users create their own instance of `CommonsMailer` when they need it.  Binary

[2015-07-16 06:44] schmitch commented on #51
@jroper do you think that is needed at the first place, i mean most people would want to store their mailer configuration inside a database, not having many mailers. A lot of frameworks have this kind of usage.
I know It's bad If you start to have two Mailer since that could lead to serious issues.  Especially when you have some Background and Frontend work which will use a Mailer with different C

[2015-07-16 07:15] jroper commented on #51
But at the moment there's a race condition, what if the app sends an email before you load it from the database? There's nothing stopping it from doing that. If you want to load the configuration from a database, you can do that easily, simply implement a new JSR330 provider for SMTPConfiguration that, instead of looking it up out of the Play configuration, looks it up out of the database.

[2015-07-16 09:17] Mogztter commented on #51
I agree on the principle but at the moment `CommonsMailer` class is almost an internal class.
Plus we now provide mailer instances with dependency injection, so I think users should not create their own instances.

Why not but SMTPConfiguration is related to one provider. If we implement more providers, we will have to create one factory for each provider configuration. I don't know if this is a g

[2015-07-16 09:20] Mogztter commented on #51
So if SMTPConfiguration is provided we use this configuration else we fall back on the Play (default) configuration ?

[2015-07-20 14:31] krispypen commented on #13
:+1: for the reactive mail client :)

[2015-07-20 15:21] Mogztter commented on #13
@jroper could you explain what you have in mind ? Provide an implementation of http://www.reactive-streams.org/ ? Rely on Akka for async ? Replace commons-mailer with X ?

Thanks :)

[2015-07-26 17:17] Mogztter commented on #58
@aBuder ping!

[2015-08-03 10:21] jroper commented on #13
Definitely not provide an implementation of reactive streams. However, we could use Akka streams to implement an asynchronous SMTP client - SMTP is mostly line by line so would be quite simple to parse and implement. But, I was 90% joking - I don't want to maintain an SMTP client.

[2015-08-03 17:01] Mogztter commented on #13
I was 90% sure you were joking :smile:
And what do you think about the initial proposition (i.e. using Akka to schedule the send) ? This is a simple (and maybe dumb solution) but then users can compose futures (using other Play! libraries like WS).

[2015-08-03 23:00] jroper commented on #13
You could also just do:

[code]

That will dispatch it asynchronously, and also allow you to add callbacks when it's done.

[2015-08-04 10:32] Mogztter commented on #51
@jroper With this approach how a user can reconfigure the injected MailerClient at runtime (or inject another MailerClient with a different configuration) ?
If someone declare the following code:

[code]

Then all the injected `MailerClient` instances will have this configuration... or maybe I'm missing something ?

[2015-08-04 18:37] pycloux opened #60 "Next release"
Hi All,

The "configure" method is a real plus.
Please do you know when the change will be released ?

Regards,

PYC

[2015-08-05 15:53] Mogztter commented on #60
Hi @pycloux,

There's a ["debate"](https://github.com/playframework/play-mailer/issues/51#issuecomment-121798831) to determine if this is the right way to implement this feature.
I'm not entirely satisfied by the mutable/side effect on the current implementation but in the other hand the API is easy to use... @jroper may have a better implementation but I'm still trying to understand how this is g

[2015-08-05 15:53] Mogztter commented on #58
@aBuder pong ? :wink:

[2015-08-10 13:29] Mogztter commented on #51
That not exactly what you described but I think that the following code maintains binary compatibility:

[code]

That allow users to programmatically configure the mailer client by instantiating `CommonsMailer`:

[code]

Maybe a better (but breaking compatibility) solution would be to:

 * rename `CommonsMailer` to `SMTPMailer` (not absolutely necessary but makes things more consistent)
 * have a

[2015-08-15 08:25] schmitch opened #62 "Could we add a .editorconfig?"
Currently it's always hard to force a certain style to your editor, for that there is a great plugin called editorconfig. Could I support a PR to support that?

[2015-08-15 15:10] Mogztter commented on #62
Sure! I didn't know this project but it seems to have a lot of native support which is great :+1:

[2015-08-17 18:53] SMcClelland opened #64 "PlayConfig.getOptional has been removed from PlayFramework in Master branch"
Hi,

The Play Mailer project is using 2.4.2 right now which should not have any issues, but I just wanted to note that in the Play Framework Master branch things have changed that would cause PlayConfig to break if run against Play Master instead of 2.4.2.
This pull request: https://github.com/playframework/playframework/pull/4588 has removed the getOptional calls that are used by MailerPlugin.sca

[2015-08-17 20:03] Mogztter commented on #64
Good catch with a detailed explanation! Thanks @SMcClelland, would you like to send a pull request to fix that issue ?

[2015-08-17 21:53] SMcClelland commented on #64
Hi Guillaume,

My apologies for not posting a pull request when I opened this up. I considered doing so but my lack of knowledge on the best way to fix it led me to not. I don't actually use the Play Mailer project myself and just happened across this when looking at an issue posted in the Play Framework discussion board. Additionally I am still in the learning stages when it comes to Scala so I a

[2015-08-18 02:10] godenji commented on #64
@SMcClelland thanks for opening this. I forked the plugin, changed `getOptional[T]` to `getOption[T]`, updated build.sbt version to 2.5.0-SNAPSHOT, then compiled + `+publishLocal`.

Updated my project's dep on the plugin to 3.0.2-SNAPSHOT; bingo, hellacious Monday begone.

I'll issue a PR if I have time, but above nips problem in the bud for any others building against master and depending on play

[2015-08-20 15:02] schmitch commented on #51
Any Updates on this?

[2015-08-20 17:27] Mogztter commented on #51
I've opened a new pull request to fix the global reconfiguration (mutable state) but I do need feedback because I can't decide if this is a better approach or not.

I would love to hear from a Scala / Guice expert :smile:

[2015-08-21 10:25] #62 closed

[2015-08-27 08:34] loicdescotte opened #69 "No Support for Compile Time DI with Play 2.4"
Hi,
Play 2.4 supports both runtime and compile time  dependency injection.
As CommonsMailer uses `@Inject` it seems impossible to use it without the Guice container.
It would be nice to provide a trait that provide a "raw" mailer client and that could be mixed in Play's `BuiltInComponentsFromContext` to support compile time DI, like [this WS Component](https://www.playframework.com/documentation/2

[2015-08-27 11:49] Mogztter commented on #69
Hi @loicdescotte,

With this [pull request](https://github.com/playframework/play-mailer/pull/63), you will be able to manually create a mailer client:
[code]

AFAIK `NingWS` also use `@Inject`, for example in the `NingWSAPI` [constructor](https://github.com/playframework/playframework/blob/master/framework/src/play-ws/src/main/scala/play/api/libs/ws/ning/NingWS.scala#L380) (i.e. the dependency on

[2015-08-27 12:39] loicdescotte commented on #69
@Mogztter great, I hope it will be merged :)
Indeed I guess we just need to create a trait like this one.

[2015-08-28 16:15] #60 closed

[2015-08-30 10:04] Mogztter commented on #69
Resolved by #70

[2015-08-30 10:04] #69 closed

[2015-08-30 10:04] Mogztter commented on #64
Resolved by #65

[2015-08-30 10:04] #64 closed

[2015-09-01 08:05] schmitch commented on #51
@jroper will there soon be a new version since #63 is merged now?

[2015-09-02 01:01] jroper commented on #51
@Mogztter, what version should be released?  Should there be any new forks for the repo to maintain old versions?

[2015-09-02 08:34] Mogztter commented on #51
@jroper I think we should create the branch `2.4.x` (or maybe `3.x` since we now have 2 versions compatible with Play 2.4.x)  from the `3.0.1` tag and release a `4.0.0-M1` from master.

Plugin version             | Play version
--------------------------- | -------------
2.x (latest 2.4.1)         | 2.3.x
3.x (latest 3.0.1)         | 2.4.x
4.x (latest 4.0.0-M1)   | 2.4.x
next branch

[2015-09-02 15:24] schmitch commented on #51
Wouldn't it be better that the Plugin version matches the Play Version? so creating a play2-mailer - 2.4.2 would be best?

[2015-09-02 16:43] Mogztter commented on #51
Yes and no :smile:
It may look simple at first but it's not. I think it's better to follow [semantic versioning](http://semver.org/) because play-mailer has its own release cycle.
Also other popular plugins are doing the same (see https://github.com/playframework/play-slick)

[2015-09-03 01:03] jroper commented on #51
Matching the version numbers would essentially force play-mailer to wait for a new Play major release before it can release any breaking changes.

[2015-09-03 01:04] jroper commented on #51
@Mogztter sounds good to me. If you can setup the branches, I'll cut the release once you're done.

[2015-09-03 13:57] jamesallchin commented on #37
:thumbsup:

I agree with @FrEaKmAn - this is really important. It's a necessity to embed images inline in the emails we are sending - base64 encoding is not an suitable alternative because it's not supported by Outlook (a major email client in Enterprises)

Essentially this means that we can't use Play Mailer and will have to look at an alternative

[2015-09-03 17:03] Mogztter commented on #51
I've created branch `3.x` and renamed branch `2.3.x` to `2.x` for consistency.

[2015-09-04 12:54] #37 closed

[2015-09-10 06:14] Mogztter commented on #51
@jroper do you need anything else to cut the release ?

[2015-09-23 00:56] jroper commented on #51
4.0.0-M1 is released, pending maven central sync to CDN nodes.

[2015-09-23 14:27] drhumlen opened #73 "Testing that an email is sent"
Is there a way to test that an email is sent, and check the contents of it? Would be nice to do something like:

[code]

Or perhaps something more "functional"/safe:

[code]

Is it possible to do something like this at all right now? ie. Setting the plugin in testing/capture mode so that we can verify: (1) that en email is sent,  (2) verify the contents of it.

Also, mock-mode must be on when runn

[2015-09-23 17:34] Mogztter commented on #73
Hello,

If you are using Play 2.4 then you can use dependency injection to provide a mock of MailerClient to your UserModule.

With Guice (runtime dependency injection):
[code]
https://www.playframework.com/documentation/2.4.x/ScalaTestingWithGuice

You can create a mock of MailerClient using Mockito or ScalaMock. Then you can assert that `sendEmail` method was called with the expected `Email` obj

[2015-09-24 13:40] drhumlen commented on #73
Thanks for swift reply :)

Unfortunately, Play's support for dependency injection was a little too late for our project :( . We're already 2.5 years into a quite big play-project, so we don't have time to rewrite everything to use dependency injection.

I would go for the solution you suggested above though when/if we start another play-project, but for now I made a small workaround to work with o

[2015-09-26 10:23] outofcoffee opened #74 "unresolved dependency: javax.activation#activation;1.1.1"
It seems that sbt can't resolve the `javax.activation` transitive dependency.

Using Play! 2.4.x.

In ``build.sbt``:
[code]

When attempting to compile with sbt there is a dependency resolution error:
[code]

[2015-09-26 12:01] Mogztter commented on #74
Hello @outofcoffee :coffee:

Could you please attach the complete `build.sbt` ? Thanks

[2015-09-26 12:12] Mogztter commented on #73
Hello @drhumlen, thanks for sharing your findings.
I think you can also use [ScalaMock](http://scalamock.org/) because its allow to mock singleton and companion objects. So I think you can do something like:

[code]

[2015-09-26 12:13] Mogztter commented on #51
Thanks @jroper, I think we can now close this issue :tada:

[2015-09-26 16:42] outofcoffee commented on #74
Hey @Mogztter - thanks for looking. Here's the full file:

[code]

[2015-09-26 17:23] Mogztter commented on #74
I hate to say that but this is working fine on my machine.
I'm using JDK8 and I've done the following:

[code]

Then I replaced the `build.sbt` with yours:

[code]

(I don't have a local installation of `sbt`)

Could you please do the same test ?

[2015-09-26 18:29] outofcoffee commented on #74
Urgh. It was a corrupt Ivy cache :(
Removed ``~/.ivy2`` and the problem went away.
My apologies!

[2015-09-26 18:29] #74 closed

[2015-09-29 03:43] #51 closed

[2015-11-09 17:28] schmitch opened #75 "Support Content-Transfer-Encoding or more MimeHeaders"
Hello, currently it would be great if we would have more options in specifing Mime Data.

I think the only way to handle that as good as possible would be a more loose mime field which would just append the necessary Bytes.
Like a List[(String, String)] or something which will be appended without validating

[2015-11-11 10:36] schmitch opened #76 "Provide a way to make the Logger in MockMailer overridable (DI)"
Hello, currently it would be great if we could change the Logger in MockMailer. Currently MockMailer could be used for testing, however thats impossible if the Mailer uses a static Logger instance.

It would help to make things like this work: http://stackoverflow.com/questions/17719552/unit-test-logger-messages-using-specs2-scalalogging

However at the moment there is no possible way to inject th

[2015-11-11 10:52] #76 closed

[2015-11-12 21:40] Mogztter commented on #76
Why did you close this issue ? Did you find a "workaround" ?

[2015-11-12 21:44] schmitch commented on #76
No but I looked at the code and then I saw that's not as easy as I've thought and I need to find a way to support it.

[2015-11-19 03:35] aekazitt opened #77 "SMTPConfiguration causing Compilation error"
package mail

    import javax.inject.Provider

    import play.api.libs.SMTPConfiguration
    import play.api.{Configuration, Environment}
    import play.api.inject.Module

    class TestMailerConfigurationProvider extends Provider[SMTPConfiguration] {
        override def get() = new SMTPConfiguration("http://192.168.9.2", 25)
    }

    class TestMailerConfigurationModule extends Module {

[2015-11-19 04:17] aekazitt commented on #77
Upgraded play-mailer to Milestone and problem disappears.

[2015-11-19 04:17] #77 closed

[2015-11-20 10:09] Mogztter commented on #77
Hello @aekazitt, custom SMTPConfiguration providers were introduce in the latest milestone, that's why this is not working with version 3.0.1.

[2015-11-21 08:13] piacia opened #78 "Play2.4 Field Injection always return null MailerClient"
Was following the Java example on home page, use Field injection in Play 2.4. But in debug it seems always have null for MailerClient.

code looks like this:

class EnvelopJob implements Runnable {
        Mail.Envelop envelop;

        @Inject MailerClient mailerClient;

        public EnvelopJob(Mail.Envelop envelop) {
            this.envelop = envelop;
        }

        public void run() {

[2015-11-21 09:29] Mogztter commented on #78
Hello @piacia, which version do you use ?

[2015-11-21 09:32] piacia commented on #78
4.0.0-M1 and play 2.4.2

[2015-11-21 09:33] piacia commented on #78
Then I was trying to do something like this:

private static SMTPConfiguration smtpConfiguration;
    static {
        final Configuration root = Configuration.root();
        smtpConfiguration = new SMTPConfiguration(root.getString("smtp.host"),
                root.getInt("smtp.port"),
                root.getBoolean("smtp.ssl"),
                root.getBoolean("smtp.tls"),
                Optio

[2015-11-21 10:18] piacia commented on #78
looks like it is because I am using it in modules, but not controllers. Is Guice the only way if I want to use mailer in modules?

[2015-11-21 17:19] Mogztter commented on #78
You can use the static method `send` on `MailerPlugin`: https://github.com/playframework/play-mailer/blob/master/src/main/java/play/libs/mailer/MailerPlugin.java#L14

You can also instantiate a `SMTPMailer` with a `SMTPConfiguration` parameter like what you've done.

This should work, do you get an exception ?

[2015-11-24 02:23] aekazitt commented on #77
Please check out my implementation below:

    class MailerConfigProvider extends Provider[SMTPConfiguration]
        // Member Variables
        var host: String = "192.168.9.2"
        var port: Int = 25
        var sslEnabled: Boolean = false
        var tslEnabled: Boolean = false
        var debugMode: Boolean = false
        var mock: Boolean = true
        var user: Option[String] = Option.

[2015-11-24 20:01] Mogztter commented on #77
In your use case I think it's better to create a new instance: https://github.com/playframework/play-mailer/blob/master/user-manual.adoc#new-instances

If you really want to "provide" a `MailerConfigProvider` you can override the `get` function to create a `SMTPConfiguration` with the data read from your database:

[code]

In Scala, I think it's better to use immutable objects (i.e. you should avo

[2015-12-04 12:42] schmitch commented on #13
@jroper even if it sounds aweful but I think maintaining a akka-mail client has benefits.

Also we wouldn't need to provide a SMTP Mailer, we could drop apache-commons Mail and just use javax.mail (which apache-commons uses internally) we would just drop a dependency that only gives a "nicer" API. But that happens only internally so, the benefit is definitely there by dropping yet another dependen

[2015-12-04 15:04] schmitch opened #79 "Retrieve the latest configuration before sending an email"
Hello, currently we have something like that:

[code]

However the Provider doesn't help here since the SMTPMailer will just do the same as before.

Currently it would be great if SMTPMailer stays the same so that we contain compability, however for the injection point it would be better to have something like:
[code]

If we don't the Provider makes just no sense.

[2015-12-07 14:56] Mogztter commented on #79
Hello @schmitch, the current implementation is designed to work with a configuration defined in the `application.conf` and never changed. In this case this make sense to have exactly one instance of SMTP configuration.

In your example, you will create a SMTP configuration every time you send an email. This can be useful if you read your configuration from a database and want to make sure that you

[2015-12-07 15:01] Mogztter commented on #75
Could you provide a use case for this ?

[2015-12-07 15:03] schmitch commented on #79
@Mogztter Hm. I'm not sure if there is "too much" overhead if we retrieve a configuration object everytime we send a mail.
I mean we would need to change the Provider slightly so that it uses a singleton pattern, too so:

we would have:
[code]

Now the Provider would use the SMTPConfiguration. However it is configurable since we could overwrite the provider if combined with the src from above. The

[2015-12-07 15:09] schmitch commented on #75
Mostly for Content-Transfer-Encoding. Currently It's not possible to specify base64 as a content-transfer-encoding, also I'm not sure if there are any more useful headers which couldn't be specified yet, so maybe a more "loose" would help here.

As I remember there way a MD5 Header and I think a alternative content header.

[2015-12-20 17:39] alaouy commented on #78
I had the same problem, for some reason injecting the `MailerClient` into the model always returned `null` , the solution as @Mogztter suggested is to manually inject it like this
[code]

[2015-12-21 17:47] Mogztter commented on #79
We also creating a new `SMTPMailer` instance each time, which is necessary if the configuration is static but not sure if this is such a big deal...
My second concern is to provide a clean constructor to do compile time DI. Today we can write something as simple as:

[code]

If we replace the constructor argument with `smtpConfigurationProvider: Provider[SMTPConfiguration]`, we will have to instan

[2016-01-02 19:08] Mogztter commented on #58
I'm closing this issue, please reopen if you still have a problem.

[2016-01-02 19:08] #58 closed

[2016-01-14 12:13] mkurz commented on #79
Any news on this?

[2016-01-14 12:16] mkurz commented on #10
@duketon Are you still keen working on this?

[2016-01-14 12:48] schmitch commented on #79
Oh yeah sorry I've totally forgotten about this, I will write some code today and push it

[2016-01-14 12:51] mkurz commented on #79
@schmitch Thanks!

[2016-01-14 13:46] schmitch commented on #78
This is a problem caused by the constructor:

[code]

You can't have a noninjected constructor with a injected field. that is not possible.
Also I think you guys try to call the class with new EnvelopJob() which doesn't work, too.
The class needs to be injected.

[2016-01-14 13:47] schmitch commented on #79
I added #81 as a WIP PR however I found some duplicated things.

[2016-01-16 02:23] mkurz opened #82 "Upgrade to apache commons email 1.4.x"

[2016-01-16 10:17] Mogztter commented on #82
:+1:

[2016-01-18 16:56] Mogztter commented on #82
Resolved in 4371da092d1f30ae7334ba8f26394b15e2da6545

[2016-01-18 16:56] #82 closed

[2016-01-21 19:05] fdo36 opened #84 "package play.libs.mailer does not exist"
1.- package play.libs.mailer does not exist
2.- package play.libs.mailer.MailerPlugin does not exist

your whole plugin doesn't work :S is there any alternative?

[2016-01-21 19:45] Mogztter commented on #84
@fdo36 Hello Fernando, what version of the plugin are you using ?

2.- package play.libs.mailer.MailerPlugin does not exist

The package exists, see https://github.com/playframework/play-mailer/blob/master/src/main/java/play/libs/mailer/MailerPlugin.java

[2016-01-23 23:19] Mogztter commented on #78
@piacia @alaouy @schmitch Do you think we need to improve the documentation or can we close this issue/question ?

[2016-01-24 09:13] schmitch opened #85 "Add Documentation for MailerComponents"
Currently Compile Time Dependency Injection has no Documentation.

The snippet of https://github.com/playframework/play-mailer/pull/81#issuecomment-173019179 should be added.

[2016-01-24 09:18] schmitch opened #86 "Split the MailerPlugin and the MailerPluginSpec into multiple files"
Currently the MailerPlugin and the MailerPluginSpec used a single file for their plugin, however that isn't suitable anymore since the project grown and now contains a lot of classes / lines of code in a single file.

To cleanup this plugin we should split the most classes into a single file / group them when they should stick together.

[2016-01-24 09:19] schmitch opened #87 "Change the documentation format"
Currently the documentation format is in Ascii Doc I don't think that is suitable anymore.
I would like to propose a switch to either Markdown or RST

[2016-01-24 10:00] Mogztter commented on #87
Could you argue why you think AsciiDoc is not suitable anymore ?

[2016-01-24 10:09] schmitch commented on #87
Currently the problem with AsciiDoc are the following:

- less editor support
- currently we use bitbucket internally and asciidoc doesn't render there without a plugin
- less people are knowing ascii doc, especially not people here on github
- playframework uses markdown (https://github.com/playframework/playframework/tree/master/documentation/manual, https://github.com/playframework/anorm/tree/m

[2016-01-24 10:40] mkurz commented on #87
Because playframework uses markdown I think we should use markdown here as well.

[2016-01-27 22:55] schmitch commented on #78
@Mogztter I wouldn't improve the documentation since that is guice specific. The only thing maybe would be a link to the Guice documentation, somewhere.

[2016-01-28 06:39] abhishekmishra17 opened #88 "Return-Path: is not available in Pay-mailer"
Return-Path:  is used to handle bounce email.I have tried with bounceAddress variable avaiable in Email class but it's not working

[2016-01-30 16:56] Mogztter commented on #88
Hello, could you please share an example with your code ? Thanks.

Return-Path: is used to handle bounce emailI have tried with bounceAddress
variable avaiable in Email class but it's not working

—
Reply to this email directly or view it on GitHub
<https://github.com/playframework/play-mailer/issues/88>.

[2016-02-01 17:00] abhishekmishra17 commented on #88
[code]

[2016-02-06 10:36] Mogztter commented on #88
Play mailer uses Apache commons email to configure and send email.
Bounce address is used to configure the property `MAIL_SMTP_FROM` on the session: https://github.com/apache/commons-email/blob/EMAIL_1_3_3/src/main/java/org/apache/commons/mail/Email.java#L676.

AFAIK this is the correct way to handle bounce address in Java: http://stackoverflow.com/questions/1782659/how-to-set-the-return-path-to-a

[2016-02-08 11:08] schmitch commented on #79
Closed due to #81

[2016-02-08 11:08] #79 closed

[2016-02-08 12:16] luukjansen commented on #78
Can I just make a comment on this. It look me a while to realise this. I am new to Play! 2,4 (having worked a with 1.x) and the @Inject is new. I created a class to log errors and mail them to an admin address, and this is not a controller, and I got the NullPointerException.

Using Play.application().injector().instanceOf(MailerClient.class).send(email); works fine, but that is not clear form the

[2016-02-08 12:22] schmitch commented on #78
@luukjansen you should avoid ```Play.application()``` and yes you can Inject in **every** class, as soon as you resolve the class via an injector, you should definitly take a look at the guice docs, how the dependency graph ist built, etc..

[2016-02-09 11:36] luukjansen commented on #78
This might not be the right place to ask, but could you provide an example in Java on how to instantiate a class with the MailerClient correctly? This is all new to me, and I am not getting my head around it yet.

I took the example on GitHub, so am trying to figure out how to insatiate this properly without using Play.application().

I tried:

[code]

But that doesn't work as MailerClient is abst

[2016-02-10 08:38] Mogztter commented on #78
Even if this is more Guice related, I think we should add documentation.
The idea is not to copy-paste Guice documentation but to explain how to
setup the mailer plugin in the context of Runtime DI (with Guice).

@luukjansen To answer your question, you can have a look here
https://github.com/playframework/play-mailer/tree/master/samples/runtimeDI
Le 9 févr. 2016 12:36 PM, "luukjansen" <notificati

[2016-02-10 08:54] schmitch commented on #78
@Mogztter and how would you do it, I mean setting up a mailer is just:

[code]

or on java:
[code]

And the Java one is a copy of the guice docs, however thanks to reference.conf we could skip the module creation.
We also have something in the Readme: https://github.com/playframework/play-mailer#java (which works on the field level)

The thing is, why it's not working for them is cause they are tr

[2016-02-10 11:03] luukjansen commented on #78
I think that is exactly the step I am looking for. How do I create an instance using Guice. Injection works in a controller, I have used that before with WS.

But how do I instantiate the class and sent an email (e.g like above and in the example) without a controller. I am just not getting it for some reason, I tried following the guise documentation, but am missing something on how to properly i

[2016-02-10 11:11] schmitch commented on #78
@luukjansen you should **never** create a class which injects something yourself. Which means, you have something like that:

[code]

Now MyService gets injected inside your Controller and MyService gets an instance of mailerClient injected.
If you now need another class, lets call it like you did, `ClassX` then you would need to inject that class, too. i.e:

[code]

as a rule of thumb, when using

[2016-02-10 12:25] luukjansen commented on #78
@schmitch thanks a million, I think it becomes clearer. I implemented the above, and sending message leading back to a controller works fine now.

One final question then, and hopefully my difficulty might show difficulties other 'amateurs' might have.
I user a Logger, much like the Play.Logger, and call stoically e.g. Logger.warn("Test", e) ;

I want top sent wanring email to the administrator, s

[2016-02-10 12:31] schmitch commented on #78
Actually you could try to create a LoggerService.

Something like that:
[code]

Than you could inject the LoggerService to your services. Is a little bit boilerplate.
There are other ways like here: https://github.com/google/guice/wiki/CustomInjections
However you would've need a good understanding of dependency injection to do it 'correct'.

[2016-02-10 18:45] luukjansen commented on #78
@schmitch thanks for the help. Everything seems to work fine now using @Inject with Controllers etc. In the rare occasion of the Logger I used the Play.application().injector() for the moment to generate the class guice dependent. And it seems all fine! Thanks a million!

[2016-02-27 15:26] rienheuver opened #91 "Inject mailerClient in Global.java"
In my Global.java I'm trying to schedule a task which has to sent an email every now and then based on some parameters.  I can't seem to access mailerClient though, because I always get a NullPointerException. Can someone explain what I'm doing wrong? My code looks roughly like this:

[code]

I can't seem to figure out what's going wrong, any help is appreciated.

[2016-02-27 18:45] Mogztter commented on #91
I believe `Global` is not managed by Guice and therefore you can't use `@Inject` in this "special" class.

Source: https://www.playframework.com/documentation/2.4.x/GlobalSettings#Java

Instead I think you should create a `@Singleton` eagerly: https://www.playframework.com/documentation/2.4.x/JavaDependencyInjection#Eager-bindings

[2016-03-02 09:12] luukjansen opened #92 "Adding the user email to the HTML body doing bulk emails"
A question: is it possible in a bulk email situation to add the target email to the html?

Google's guidelines suggest that there should be an unsubscribe link which only needs one click for the user to unsubscribe. This means that each email is unique. Currently I add all my recipients to a single message, but I don't see a way of doing this.

I haven't tested the impact of creating 5000+ separat

[2016-03-05 12:29] Mogztter commented on #92
Hello @luukjansen, I'm not an email expert but I don't think this is doable. If you scared about sending 5000+ emails you could use an email service provider (Sendgrid, Mandrill...). We have an issue to integrate play-mailer with email providers: https://github.com/playframework/play-mailer/issues/10

[2016-03-05 23:16] MuBoori opened #93 "com.typesafe.play#play-mailer_2.11;4.0.0-SNAPSHOT: not found"
Hello,

I'm trying to use the newest version 4.0.0-SNAPSHOT but it is not in the Maven repo.
It says
com.typesafe.play#play-mailer_2.11;4.0.0-SNAPSHOT: not found

[2016-03-08 09:27] Mogztter commented on #93
Hi @MuBoori

Did you try again recently ? Maybe the publishing process takes some time...

[2016-03-08 09:30] Mogztter opened #94 "Publish version 4.0.0 "final" version"
I think we should publish a version 4.0.0 "final" version for Play! 2.4 (with commons-email 1.4) from this commit: https://github.com/playframework/play-mailer/commit/4371da092d1f30ae7334ba8f26394b15e2da6545

[2016-03-08 09:36] Mogztter opened #95 "Publish version 5.0.0.M1 version"
This version will be compatible with Play! 2.5 and will make it easier to use dynamic configuration with runtime DI: https://github.com/playframework/play-mailer/pull/81

This version must be released from `master` branch.

[2016-03-08 11:26] MuBoori commented on #93
Still not working.
according to http://mvnrepository.com/artifact/com.typesafe.play/play-mailer_2.11
There is no version  4.0.0-SNAPSHOT.

Do I need to add different  resolver ?

[2016-03-08 13:33] schmitch commented on #93
Actually you could easily see if it's already uploaded here:

    http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.typesafe.play%22%20AND%20a%3A%22play-mailer_2.11%22

[2016-03-08 13:35] schmitch commented on #94
What about 9d3da9f57696f32031a5cf16e415bd85fed76c87?

[2016-03-08 13:45] MuBoori commented on #93
@schmitch  you meant this version 4.0.0-M1. This does not work in play 2.5. I get method not found when I try to injection but it works in the old version 2.4.6 .

[2016-03-08 13:48] schmitch commented on #93
@MuBoori actually I just wanted to say that when there is no 4.0.0-SNAPSHOOT on search.maven.org you can't probably resolve it ;)

[2016-03-08 13:54] MuBoori commented on #93
@schmitch I tried to the build file [here](https://github.com/playframework/play-mailer/blob/master/samples/runtimeDI/build.sbt) hoping it will works with Play 2.5 but it did not work.

Sorry I'm a bit new in Play framework world.

[2016-03-08 14:19] schmitch commented on #93
@MuBoori you've understood me wrong.
Actually Play uses sbt as his build too which resolves everything from the Maven Central Repository so the error

     com.typesafe.play#play-mailer_2.11;4.0.0-SNAPSHOT: not found

comes from the fact that there is no ``4.0.0-SNAPSHOT`` on the central repository.
This is the Link where you could see all version of play-mailer on the central repository: http://s

[2016-03-08 14:27] MuBoori commented on #93
@schmitch yeah, I realised it won't work because there is no  4.0.0-SNAPSHOT in repo. so anyway, I resolved my issue by using https://commons.apache.org/proper/commons-email/ java library.

[2016-03-08 17:02] Mogztter commented on #94
@schmitch Since we are introducing breaking changes, I think it's better to leave this change for 5.0.0.M1 (see #95). Wdyt ?

[2016-03-08 17:56] schmitch commented on #94
yeah that's true.

[2016-03-09 13:45] lisinge commented on #95
Would be great if we could have this release so that we can push it to environments which rely on it being on the central repository

[2016-03-09 21:27] Mogztter commented on #95
@jroper Would you have time to do a release ?

[2016-03-11 12:26] kay-es commented on #95
release would be great! updated to 2.5 and need the playmailer :s

[2016-03-15 09:10] oexza commented on #95
ping! @jroper

[2016-03-15 10:11] lisinge commented on #95
Isn't there anyone else on the Play team that can push a release if @jroper is busy?

[2016-03-15 13:56] mkurz commented on #95
@jroper @gmethvin @richdougherty Maybe it would be good to give @Mogztter the permissions to release new versions on this repo?

[2016-03-16 12:12] franzgranlund commented on #95
So there is no working mailer for 2.5 at the moment? :-/

[2016-03-16 17:30] Mogztter commented on #95
@franzgranlund You're right, the latest released version (4.0.0-M1) is not compatible with Play 2.5 because we are using `config.getOptional` instead of `config.get[Option]`: https://github.com/playframework/play-mailer/commit/575968e60ff99e1a3472ba184fc286102bc2d8cb#diff-a1708174875ec5c58582d97ce301e053R321

Since we don't publish SNAPSHOT, the only alternative is to build play-mailer from source

[2016-03-16 17:34] lisinge commented on #95
Yeah it feels like there needs to be at least one more person who can create a release. It's kind of a showstopper for a lot of people right now who wants to update to play 2.5.

[2016-03-17 21:21] gmethvin commented on #95
I just published 5.0.0-M1. I can do releases now and you could also probably ask @wsargent if I'm not around.

[2016-03-17 21:21] #95 closed

[2016-03-17 21:22] gmethvin commented on #94
@Mogztter You should probably create a 4.x branch so we can release from there.

[2016-03-17 22:10] Mogztter commented on #95
Thanks @gmethvin !

[2016-03-17 22:10] Mogztter commented on #94
@gmethvin yes you're absolutely right, I will do it in the next few days

[2016-03-18 08:52] lisinge commented on #95
Thanks!

[2016-03-18 21:24] Sergic opened #96 "tls error connection to server"
I configured project with tls|ssl connection and gets error
I can't understand wath is that

Server log:

Application log:

        at play.api.http.HttpErrorHandlerExceptions$.throwableToUsefulException(HttpErrorHandler.scala:269)
        at play.api.http.DefaultHttpErrorHandler.onServerError(HttpErrorHandler.scala:195)
        at play.api.GlobalSettings$class.onError(GlobalSettings.scala:160)

[2016-03-18 21:52] Sergic commented on #96
Google helps! :+1:
First you need download http://opentox.ntua.gr/files/InstallCert.zip
`java InstallCert yourdomain.com:465`
You gets file _jssecacerts_
And use it to configure server -Djavax.net.ssl.trustStore=jssecacerts

[2016-03-19 17:10] Mogztter commented on #94
Done!
@gmethvin could you please release version `4.0.0` from 4.x branch ?

[2016-03-19 17:11] Mogztter commented on #96
Hello @Sergic, I assume this "issue" is not related to play-mailer ? Can I close this issue ?

[2016-03-19 17:12] Mogztter commented on #93
@MuBoori version 5.0.0-M1 has been released, you can now use this version with Play 2.5 or 4.0.0-M1 with Play 2.4.

[2016-03-19 17:12] #93 closed

[2016-03-19 19:34] Sergic commented on #96
Hello.
Yes, please close it.

[2016-03-19 19:41] gmethvin commented on #94
https://repo1.maven.org/maven2/com/typesafe/play/play-mailer_2.11/4.0.0/

[2016-03-19 19:41] #94 closed

[2016-03-19 20:29] Mogztter commented on #94
Awesome, thanks!

[2016-03-19 20:30] #96 closed

[2016-03-28 05:12] Jacke opened #97 "OAuth Auth for GMAIL to avoid "less secure apps""
Hi. Is there have plans for developing https://java.net/projects/javamail/pages/OAuth2 this sort of auth? If anybody needs this feature I can start implementing it to play mailer on next week.

[2016-03-28 09:16] Mogztter commented on #97
Hello @Jacke, this would be a great addition!

Behind the scene, play mailer plugin is using commons-email library which relies on Java mail 1.5.2.
If I read correctly OAuth2 Authentication is only available from Java mail 1.5.5 and later ?

I think you should open an issue to commons-email library to ask for an upgrade from 1.5.2 to 1.5.5: [commons-email issue tracker](https://issues.apache.org/j

[2016-03-30 14:27] HirenPatel2791 opened #98 "Can't configure office365 SMTP on play mailer 5.0.0-M1"
I recently tried this plug in.. and was able to send mails using google smtp.. Now in the same application I'm trying to integrate my office365 mailbox and send emails out. for that I followed [this](https://technet.microsoft.com/en-us/library/dn554323(v=exchg.150).aspx#HowtoconfigSMTPCS)

application.conf:
`play.mailer {
  host = smtp.office365.com
  port = 587
  ssl = no
  tls = yes
  username =

[2016-03-30 21:15] Mogztter commented on #98
Have you tried to enable `ssl` ? I think the root cause is `AuthenticationFailedException`, are you sure about your credential ?

[2016-03-30 21:23] HirenPatel2791 commented on #98
Thanks for getting back to me. If you see to office365 SMTP submission documentation. It is only tls enabled. so there is no way ssl gonna work. But I'll give it a try. well I implemented mailing service using `javax.mail` with same settings and its working fine.

[2016-03-31 09:16] litts commented on #97
We are all looking forward to this enhancement.

[2016-03-31 21:55] mkurz commented on #98
@HirenPatel2791 Did it work with enabling ssl?
If not - could you please provide your code which you use to send the mail via `javax.mail`?

[2016-03-31 21:57] Mogztter commented on #98
On a side note, I think it could be great to add the configuration for common mail provider like Gmail or Office 365 in the user manual: https://github.com/playframework/play-mailer/blob/master/user-manual.adoc

[2016-03-31 22:05] HirenPatel2791 commented on #98
@mkurz no it didn't work with ssl as expected. I'll share my code.

[2016-04-10 15:43] Mogztter commented on #98
Thanks for sharing. I will try to find the root cause.

[2016-04-12 21:16] Mogztter commented on #98
Sorry but I can't reproduce this issue.
Here's a working example with Play! `2.5.1` and Play mailer `5.0.0-M1`:

[code]

[code]

I also tried to use this configuration (similar to what you are using):

[code]

NOTE: `timeout` and `connectiontimeout` are in milliseconds. 0.6 second is a really short timeout and you should increase this timeout or use the default (ie. 60 seconds = 60000 milliseconds

[2016-04-12 21:22] mkurz commented on #98
@Mogztter No I am not using Office 365 right now. But I am working on a project for a client of mine and I think they use Office 365 AFAIK - so maybe I have to send out emails with this provider as well in the coming weeks. If I find out something I will let you know of course.

[2016-04-12 21:42] Mogztter commented on #97
I think you can already do it by setting a system property: `System.setProperty("mail.smtp.auth.mechanisms", "XOAUTH2");`. The [mail session is using system properties](https://github.com/apache/commons-email/blob/trunk/src/main/java/org/apache/commons/mail/Email.java#L631) so this code is equivalent to:
[code]

As far as I know, only this property is required to switch to an OAuth2 authentication

[2016-04-12 21:55] Mogztter commented on #98
@mkurz Ok great, thanks :smile:

[2016-04-29 23:21] nem25 commented on #84
I have the same problem. I'm using version 3.0.1 for play 2.4.

[2016-04-30 08:27] #84 closed

[2016-04-30 09:16] Mogztter commented on #84
@nem25 I received a notification about you saying "same problem here". Would you mind explaining what did you do and how you solved this issue ? thanks

[2016-05-01 19:55] nem25 commented on #84
It was actually rather silly so hence I removed the message.
I had to reset my Play instance to get it working. Normally, hitting refresh on the browser recognises any changes; I understand not having the updated config settings on refresh but it would then generally fail with a different error like missing config. But here the refresh didn't seem the build the mailer classes. I had to re-make the

[2016-05-31 15:46] deter2003 opened #99 "how to set password runtime"
how to change password runtime? don not configure in application.conf, eg.read from DB.

[2016-05-31 17:25] Mogztter commented on #99
Hello,

Are you using Java or Scala ? with runtime DI or compile time DI ?

You can create a custom provider or instantiate a new SMTPConfiguration. See https://github.com/playframework/play-mailer/blob/master/user-manual.adoc

[2016-06-01 13:26] almothafar commented on #91
Create service to send email, something like :

[code]

And replace Global.java file into this:
http://stackoverflow.com/questions/35842293/java-playframework-globalsettings-deprecation-for-onstart

Inside your `OnStartup` class constructor:
[code]

This is how I'm working with email service if I use it while application start up. if you want to use it in another service or controllers **After** y

[2016-06-09 10:00] placebocurejava opened #100 "Email Sent but no received email on Gmail !!!"
Hi,
Finally the Java app works and i can see message "email sent" but no received emails on INBOX! any idea ?

Here are the steps I followed in the attached file:

![sans titre](https://cloud.githubusercontent.com/assets/18368701/15925971/fbdcb7b8-2e28-11e6-921a-251f9249e142.png)

[2016-06-09 10:05] placebocurejava commented on #73
Hi,

Is there any suggestions for PLAYA JAVA to set up veritifcation of sent messages ?
I receive the message : Email sent! but no messages was received in my inbox ...

[2016-06-09 11:25] Mogztter commented on #100
Hello @placebocurejava

`play.mailer.mock` should be `false`

[2016-06-09 11:34] placebocurejava commented on #100
Hi,

I did not like any more PLAY MAILER...lot of configuration etc...
this is what i did this morning with  ( commons-email.jar ) without adding all config in ( play.plugins + build.sbt + application.conf....etc )

and finally it works really fine :
![ggg](https://cloud.githubusercontent.com/assets/18368701/15928333/ce35f628-2e35-11e6-954c-f66f3fdbd897.png)

Now my question is:
is that the fact o

[2016-06-09 19:22] Mogztter commented on #100
Not at all, `play-mailer` relies on `commons-email.jar` anyway :wink:

[2016-06-09 19:22] #100 closed

[2016-06-16 10:18] placebocurejava commented on #100
Hi,

why did you closed this issue?  the problem still occurs even if i changed mock to false..

[2016-06-16 11:36] gmethvin commented on #100
@placebocurejava This is a bug tracker for play-mailer, not a place to get help. The mailing list is a better place for that. For something to be a bug, we'd have to confirm you are configuring things properly and you're still getting an issue, and that the problem is not in another library.

[2016-06-23 14:32] placebocurejava opened #101 "Possibility to attach Report ( HTML + it's own folder )"
Hi,

Is it possible to attach in SendMail a directory or a folder of an HTML file such as a Report JASPER ?
Well, I generate three kind of report : 1- PDF   2- XLS   3-HTML but HTML REPORT GENERATED needs it's own folder or direcotry which resemble images etc...

![sans titre](https://cloud.githubusercontent.com/assets/18368701/16307039/57eb3170-394f-11e6-990b-32d7314a4449.png)

Thank you in advan

[2016-06-26 16:10] Mogztter commented on #101
Hello @placebocurejava

I don't think you can attach a directory but you can attach multiple files. Your best option here is to generate a single HTML file with embedded images.

This question is not related to play-mailer, I will close this issue.
As mentioned by @gmethvin please use stackoverflow or the mailing list to ask questions.

Thanks

[2016-06-26 16:10] #101 closed

[2016-06-26 16:10] Mogztter commented on #99
ping @deter2003 ?

[2016-06-26 16:20] placebocurejava commented on #101
Bonjour,

Je me permets de t'écrire en francais pourvu que je suis francais
également, Tu es la seule personne jusqu'au jour qui supprimer mes issues
lol
Bref, Je n'ai pas le choix car JASPER genere un rapport HTML accompagné
d'un folder et pas de solution concernant les embeded...

Cette fois ci j'espère bien que tu puisses me répondre je suis pleinement
bloqué sur ce topic :
au pire donnes moi j

[2016-06-26 16:35] Mogztter commented on #101
Bonjour,

Ta question ne concerne pas le projet c'est la raison pour laquelle je ferme ce ticket. Tu auras plus de chance de trouver une solution sur le forum de Jasper Report ou en cherchant sur Stackoverflow :wink:

Je pense qu'il faut que tu trouve une solution pour que Jasper Report génère un fichier HTML contenant les images. En faisant une rapide recherche sur Google j'ai trouvé cette questi

[2016-06-26 17:01] mkurz commented on #101
Please keep conversations in english...

[2016-06-26 18:01] placebocurejava commented on #101
Hi,

Guillaume => vivant tu ne me sers pas à grand chose ^^

Matthias,

Could you tell me please if you have in mind a project that can get Input
parameters from select/deselect page list ( Play java ) ?
Thank you in advance.

On 26 June 2016 at 17:01, Matthias Kurz <notifications@github.com> wrote:

[2016-06-26 18:13] Mogztter commented on #101
???

[2016-06-26 20:29] placebocurejava commented on #101
Je veux dire par la que : je demanderai à github de te punir pour moi lol
Mec stp je suis bloqué pour recuperer des checkbox selectionné sur une page
liste = help pleaaaase
Le 26 juin 2016 18:13, "Guillaume Grossetie" <notifications@github.com> a
écrit :

[2016-06-27 06:35] Mogztter commented on #101
Locking this conversation.
He just made a death threat about me in French despite the fact that I'm trying to help him! Please report him.

Guillaume => alive you are useless to me...

[2016-06-27 09:24] gmethvin commented on #101
@Mogztter I've reported him to github

[2016-06-28 11:22] johnmara opened #102 "Connect with heroku"
Hello, I'm using Play Framework 2.5 and I've deployed my app on Heroku.
The problem is that the same configuration  that works locally, is not working on heroku.
Specifically my application.conf file contains:
[code]
And my method which sends the email contains:
[code]
When sending from heroku I get the error:

[code]

[2016-06-28 14:54] Mogztter commented on #102
Hello @johnmara I think you need to enable "less secure apps" on your Gmail account: https://www.google.com/settings/security/lesssecureapps

There's an open issue to be able to use a more secure authentication mechanism #97

[2016-06-28 14:57] Mogztter commented on #102
You should also follow this guide to understand why the authorization failed: https://support.google.com/accounts/answer/6009563

In your case, you are trying to authenticate from a new location (Heroku).

[2016-06-29 12:48] tsuyoshizawa opened #103 "Release 5.0.0"
Play 2.5 is already released as official.

play-mailer version is still 5.0.0-M1.
If there is not critical issue for Play 2.5, I hope play-mailer version will be 5.0.0.

[2016-06-29 14:49] Mogztter commented on #103
I agree! :+1:
@gmethvin are you allow to perform a release ?

[2016-06-29 14:59] mkurz commented on #103
+1 for a release

[2016-06-30 06:38] gmethvin commented on #103
Just released 5.0.0 from master.

[2016-06-30 06:38] #103 closed

[2016-07-03 21:44] Mogztter commented on #103
Yay thanks \o/

[2016-07-21 12:39] disbrain opened #104 "[Java] Error sending mail"
I just migrated from Play 2.3 to Play 2.5 but now I can't send mails anymore.
- I Modified my conf file entry accordingly to the new format
- I created an Injector Constructor for injecting mailer
` @Inject
    public SmtpConnector(MailerClient mailer)
    {
        this.mailerClient = mailer;
        MailcapCommandMap mc = (MailcapCommandMap) MailcapCommandMap.getDefaultCommandMap();
        mc.a

[2016-07-21 15:55] Mogztter commented on #104
Looks like a classpath issue but you already added `MailcapCommandMap`.
References:

 - http://stackoverflow.com/questions/21856211/javax-activation-unsupporteddatatypeexception-no-object-dch-for-mime-type-multi
 - http://stackoverflow.com/questions/7521027/dch-class-error-with-javamail

Do you have a dependency on `javax.mail` or `commons-email` in your `build.sbt`. Could you please provide a sam

[2016-07-21 16:44] disbrain commented on #104
No, I don't have such dependencies.
I attached a very minimal sample project, thanks a lot
[IssueTest.zip](https://github.com/playframework/play-mailer/files/376522/IssueTest.zip)

[2016-07-21 19:14] Mogztter commented on #104
I think this issue is related to the `ForkJoinPool.commonPool()`
https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ForkJoinPool.html#commonPool--

I don't know why but threads in this pool have a "special" classpath and `javax.mail` dependency is not loaded correctly.

If you use another `Executor` then the code is working. For instance I'm using a `Executors.newSingleThreadExecutor()

[2016-07-22 08:26] disbrain commented on #104
Hi Mogztter, I tried, but the behavior is the same, I still get the exception

[2016-07-22 08:41] Mogztter commented on #104
Are you running Play! in debug mode ? in production mode ? I'm running the application with `activator run`.

Here's the modified files:

build.bt
[code]

SmtpConnector.java
[code]

Probably

 Me too
[code]

[2016-07-22 10:55] disbrain commented on #104
I found that specifying executor works, but only if the email sending method is called directly from the Play controller method.
In my setting it's called in an async reply handlng method (to an akka request) and within a class instantiated through reflection:

`...
.thenApplyAsync(new Function<Message, JsonNode>() {
                            @Override
                            public JsonNode

[2016-07-22 11:12] Mogztter commented on #104
This seems rather complex but I don't know your use case.
I think we need to find the root cause, so far we just found a workaround.

If we send an email synchronously everything is working fine. So I'm pretty sure that the classloader context is different when using `CompletableFuture`.
Could you try without using runtime DI ? https://github.com/playframework/play-mailer/blob/master/user-manual.a

[2016-07-22 11:34] disbrain commented on #104
I tried, with and w/o explicitly setting MapcapCommandMap before sending the email, but it's still not working,

Here the class I used:

`import play.api.libs.mailer.SMTPConfiguration;
import play.api.libs.mailer.SMTPMailer;
import play.libs.mailer.Email;
import play.libs.mailer.MailerClient;
import scala.Option;

import java.util.Arrays;
import java.util.Optional;
import java.util.concurrent.Comp

[2016-07-22 12:09] Mogztter commented on #104
This is working for me. Are you testing with your sample projet or with your full project ? Did you tried to use `Executors.newSingleThreadExecutor()` instead of a `ForkJoinPool` ?

[2016-07-22 13:06] disbrain commented on #104
Yeah, but nothing changed.
I was able to replicate the issue within the a new test project. Now accessing the index page triggers an async email sending and it fails w/wo the MailcapCommandMap
[IssueTest-v2.zip](https://github.com/playframework/play-mailer/files/378215/IssueTest-v2.zip)

[2016-07-22 15:00] Mogztter commented on #104
I'm not familiar with this Java API but I think you are doing too much asynchronous:

 * `supplyAsync` runs in a `ForkJoinPool`.
 * `thenApplyAsync` runs in a `ForkJoinPool`.
 * `send_mail` runs in a `newSingleThreadExecutor`.

Why not simplify:

HomeController.java
[code]

SmtpConnector.java
[code]

Also why are you using reflection ?

[2016-07-22 15:48] disbrain commented on #104
That was just an example on how to reproduce the issue, In my real setting I have a generic webservice handling system that validates requests, queries backend and build responses automatically and asynchrously, so I have no idea about the types that are going to be built/returned by the system. Basically every webservice have to specify only which kind of object it wants as a reply and parsing/va

[2016-07-22 20:48] Mogztter commented on #104
Thanks for this detailed explanation.
Just to make sure that this issue is related to classpath context in an async environment (and not specific to play-mailer), could you please try to send an email directly with [commons-email](https://commons.apache.org/proper/commons-email/) ?

[2016-07-22 20:50] Mogztter commented on #99
Does my reply answer your question @deter2003 ? Can I close this issue/question ?

[2016-07-22 20:52] Mogztter commented on #102
@johnmara Is it working now ? Can I close this issue ?

[2016-07-22 20:56] Mogztter commented on #104
Since you are using Akka you could also try to send an email asynchronously with:

[code]

[2016-07-22 22:01] johnmara commented on #102
Finally I used sendgrid and worked without a problem.

[2016-07-23 11:52] Mogztter commented on #102
Ok so this is definitely related to a configuration issue with Gmail.
I'm closing this issue :smile:

[2016-07-23 11:52] #102 closed

[2016-07-23 11:58] Mogztter commented on #98
Reading again this issue, I'm pretty sure the problem was a short `timeout` and `connectiontimeout` because the root cause is `Caused by: java.net.SocketTimeoutException: Read timed out`.

@HirenPatel2791 Do you find a solution ? Is it working now ?

[2016-07-25 08:57] disbrain commented on #104
I confirm that even using commons-email it doesn't work due to the same error.

[2016-07-25 11:15] Mogztter commented on #104
I don’t know if you already read this page but you could try to use the application class loader to load play-mailer: https://www.playframework.com/documentation/2.5.x/ThreadPools#class-loaders-and-thread-locals

@gmethvin any idea about the root cause ? These workarounds are not perfect especially for a Play! plugin. I think plugin integration (classpath context...) should be easier in Java.

[2016-07-26 07:23] gmethvin commented on #104
Hi @disbrain,

Looking up the exception you got, it appears the same solution has been [mentioned on stackoverflow](http://stackoverflow.com/a/21898970) quite long ago, though there are no references to CompletableFuture. You can use the application class loader if you want but it's going to basically do the same thing as your workaround.

I'm not that familiar with JavaMail so I don't know if I c

[2016-07-26 09:13] disbrain commented on #104
Yes @Mogztter but even now that I perfectly understand what it means I think that's not useful at all how is written, just confusing.
Yes @gmethvin thank you, I figured it out: It wasn't working because I put the setContext in the email sending method, not in the runAsync body

[2016-07-29 14:33] azwar commented on #99
@deter2003  You can just simply pass it when starting activator:

on development mode `activator -Dplay.mailer.password="yourpassword"`
on production `yourappname/bin/appname -Dplay.mailer.password="yourpassword"`

[2016-08-02 10:33] maltiyadav opened #105 "In Play 2.5 , Injecting MailerClient give compilation error"
I am trying to inject MailerClient but  its give "not found: type MailerClient" error .

import javax.inject.{Inject, Singleton}
import org.apache.commons.mail.EmailAttachment
import play.api.libs.mailer._

@Singleton
class EmailUtils @Inject() (mailerClient: MailerClient)

[2016-08-02 12:58] maltiyadav commented on #105
My bad . Solved the problem .

[2016-08-02 12:59] #105 closed

[2016-08-02 17:13] Mogztter commented on #105
No worries.
What was the issue ? It can help others and/or improve the documentation.

Thanks
Guillaume

[2016-08-02 17:38] maltiyadav commented on #105
I have  not clean the target folder after upgrading the version.
I upgraded pay mailer v2.4.1 to v5.0.0  , injected  MailerClient into class component  and run application . Its throw compilation error .
After running activator clean compile. Its work fine .

[2016-08-03 10:55] Mogztter commented on #105
Ok thanks for the explanation, have fun :wink:

[2016-08-10 19:51] FaiyazMdAbdul opened #106 "Takes A Lot Of Time To Send A Mail"
I am using play 2.3.8  . Play mailer works fine but it takes around 10 seconds to get response . what could be the issue ?

**application.conf**
smtp.host=smtp.zoho.com
smtp.port=465
smtp.ssl=true
smtp.user= "info@abc.com"
smtp.password= "something"

**App.java**

[code]

[2016-08-11 09:13] Mogztter commented on #106
Hi @FaiyazMdAbdul, have you tried with another email provider (Gmail) ?
`send` method is synchronous and the default timeout is 60s. So if `smtp.zoho.com` takes 10 seconds to send an email then `MailerPlugin.send(email)` will also takes 10 seconds.

[2016-09-07 16:13] Mogztter opened #108 "Upgrade to Play 2.5.6"
https://www.playframework.com/changelog

[2016-10-09 09:54] almothafar commented on #106
You can avoid this with scheduler, this will not make your UI stuck waiting mailer to send.

[code]

[2016-12-27 12:22] maltiyadav opened #110 "Can we add multiple play mailer configuration in application.conf ?"

[2017-01-16 16:14] vadim-shb opened #111 "Add dependency like documentation says fails"
I try to add dependency to my play 2.5.10 project. Dependency:

`"com.typesafe.play"       %  "play-mailer"                    % "5.0.0"`

doesn't work. But

`"com.typesafe.play"       %  "play-mailer_2.11"               % "5.0.0"`

works fine.

build.sbt:

[code]

plugins.sbt:

[code]

[2017-01-16 16:27] vadim-shb commented on #111
I use this documentation on github:
https://github.com/playframework/play-mailer/blob/master/README.adoc

It points to use

I know that there is no play-mailer_2.11.7 published, but I don't now what is the right way to deal with it. Publish all versions, or change documentation to add scala version.

[2017-01-16 16:34] vadim-shb commented on #111
Oh, I see... `%%`

[2017-01-16 16:34] #111 closed

[2017-02-14 15:52] adis-me commented on #98
I can confirm it is working with Office365.com.

[2017-02-14 22:31] HirenPatel2791 commented on #98
@adis-me can you share your solution.

[2017-02-16 22:07] mslinn opened #113 "Version for Play 2.6.0-M1 with Scala 2.12"
Got an ETA?

[2017-02-16 22:37] marcospereira commented on #113
Released. :-)

See https://oss.sonatype.org/content/repositories/releases/com/typesafe/play/play-mailer_2.12/6.0.0-M1/

[2017-02-16 22:37] #113 closed

[2017-02-17 11:19] arcteixeira opened #114 "Attaching Excel files"
When an Excel file is attached it is sent as .dat. I've tried using other file formats and they arrive correctly. Is there a special way to attach these files? Thanks

[2017-02-25 12:39] fahimmahmoodmir opened #115 "Unable to send Email with outlook or gmail config in Play 2.5 and mailer 5.0 plugin"
I also have been playing with mailer plugin but still i am having problem since 2 days i am stuck on just this simple task. Well reading other topics seems like other people are also have problems. So like them i also followed the same config as told in the installation in play-mailer page still not able to send any email. Here is my app configuration:

[code]

MailService Class wrapper (omitted i

[2017-02-25 16:18] Mogztter commented on #115
Could you try smtp.gmail.com:587 with TLS ?
I think SSL was replaced by TLS on Gmail.

Are you behind a corporate proxy ?

[2017-02-25 16:26] fahimmahmoodmir commented on #115
Tried with that as well with following settings:
play.mailer {
  host="smtp.gmail.com"
  port=587
  ssl=no
  tls=yes
  user="************************@gmail.com"
  password="*****************"
  debug=yes
}

and still getting exceptions:

[code]

Nope no proxy at all.

[2017-02-25 16:40] Mogztter commented on #115
Are you using `-Djavax.net.ssl.trustStore` in your JVM arguments ? I think your truststore does not contains certification authorities.
Are you using a custom Java installation ? By default the JRE trusts all certificates that somehow link to one of the certificates in jre/lib/security/cacerts, unless you have configured a different truststore.

[2017-02-25 16:50] fahimmahmoodmir commented on #115
nah i am using the default JRE that i downloaded from the official site. So i didn't even customize any kind of arguments for JVM. Neither i have configured a custom trust store. I searched over the internet and someone suggested to put `play.ws.ssl.loose.acceptAnyCertificate=true` but  It wasn't working. Then i also tried running application with  passing the arguments `activator run -Dmail.smtp.

[2017-02-25 18:36] Mogztter commented on #115
Ok thanks for the information provided.
What operating system and what version of the JRE are you using ? I will try to reproduce this issue on my machine.

[2017-02-25 18:39] Mogztter commented on #114
Not to my knowledge... that's a really weird bug! I don't understand why/how an `.xls` file would be processed differently by commons email.

Do you have a code sample to reproduce this issue ? Did you try to send another `.xls` file ?

[2017-02-25 18:41] Mogztter commented on #110
Currently the only way to achieve this is to manually instantiate an instance: https://github.com/playframework/play-mailer/blob/master/user-manual.adoc#new-instances

But I agree that would be nice to be able to configure multiple instances in `application.conf`

[2017-02-25 18:42] Mogztter commented on #106
Any news @FaiyazMdAbdul ?

[2017-02-25 18:43] fahimmahmoodmir commented on #115
No problem sure here are my version and other details details:
Windows 10 Version 10.0.14393
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)

Thanks for the the quick input!

[2017-02-25 19:17] fahimmahmoodmir commented on #115
Dayummm You won't believe it  i was thinking and just hit in my mind that there could be one more thing that can cause trouble that is my antivirus blocking smtp requests. Guess what i was right. I deactivated my antivirus protection and it works like a charm!

Thanks @Mogztter agian for quick replies :). Actually i think it's better to add this in the README file for windows users that if mailer

[2017-02-26 09:22] Mogztter commented on #115
I'm glad you found the root cause.

Yes, that's a good idea!
I think we should add a troubleshooting section with the stack traces and the possible causes.

[2017-02-27 07:51] arcteixeira commented on #114
After lots of testing, I realized I was attaching the file without extension... Once I added the .xls everything worked fine.

Thaks for your reply!

[2017-02-27 07:51] #114 closed

[2017-02-27 07:59] mkurz commented on #98
@HirenPatel2791 Is your antivirus blocking smtp requests? See #115

[2017-02-27 08:16] adis-me commented on #98
@HirenPatel2791 My configuration looks like:

[code]

And then I send the mail:

[code]

[2017-02-27 08:30] mkurz commented on #98
Thanks for sharing this @adis-me

[2017-02-27 08:44] Mogztter commented on #114
Glad it's working for you, thanks for the follow up :+1:

[2017-03-04 10:20] maltiyadav commented on #110
We have done by manually instantiate an instance.

Thanks @Mogztter

[2017-03-15 11:50] yuchaosydney commented on #73
Sorry, I might want to ask is there any full example to test sending mail function? I am just trying to get start.

[2017-03-15 12:33] placebocurejava commented on #73
Hello
Of course i can help with samples and examples
Tell me what do u want exactly please..

Le 15 mars 2017 11:50, "yuchao" <notifications@github.com> a écrit :

[2017-03-15 14:47] marcospereira commented on #73
Hey,

The way I would recommend that is to have a separated configuration for your test environment, having just the email settings change, and then use something like [Wiser](https://github.com/voodoodyne/subethasmtp/blob/master/Wiser.md) or [GreenMail](http://www.icegreen.com/greenmail/) which are both made to test email sending.

[2017-03-15 21:28] yuchaosydney commented on #73
`val cid = "1234"
    val email = Email(
      "Simple email",
      "Yuchao's Blog <yuchao@email.com>",
      Seq("Miss TO <yuchao.sydneyuni@gmail.com>"),
      // adds attachment
      attachments = Seq(
      ),
      // sends text, HTML or both...
      bodyText = Some("A text message"),
      bodyHtml = Some(s"""<html><body><p>An <b>html</b> message with cid <img src="cid:$cid"></p></body></h

[2017-03-15 21:29] placebocurejava commented on #73
Hi
Feel free to share ur screen with me tomorrow and we will launch ur sending
mails tomorrow ok ?

Le 15 mars 2017 21:28, "yuchao" <notifications@github.com> a écrit :

[2017-03-15 21:36] yuchaosydney commented on #73
Sorry I just reformat my comment here. Code should be readable now.

Yeah no problem, I will just try @marcospereira 's advice at the same time.

Thanks for your attention.

[code]

[2017-03-15 21:39] placebocurejava commented on #73
Did you inject the mailerclient above in your class ?
Did you configured well application.conf?

Le 15 mars 2017 21:36, "yuchao" <notifications@github.com> a écrit :

[2017-03-15 21:41] yuchaosydney commented on #73
yeah, I just put this block of code in my controller and it works, all configuration is correct and send emails without any problem.

I just want to get started with writing unit test in play-mailer with this very simple code.

[2017-03-15 21:44] placebocurejava commented on #73
Unit test???
What does it mean!!

Le 15 mars 2017 21:41, "yuchao" <notifications@github.com> a écrit :

[2017-03-15 21:49] yuchaosydney commented on #73
Sorry for confusing, I mean writing tests with MockitoSugar and PlaySpec etc in TDD practice.

Not sure I am in the right way or in the right place.

[2017-03-15 21:52] placebocurejava commented on #73
I have no idea about these terms
Im happy that u finally send ur messages
If u want any help feel free to ask
FYI Im using play framework under java

Le 15 mars 2017 21:49, "yuchao" <notifications@github.com> a écrit :

[2017-03-15 21:55] yuchaosydney commented on #73
Ok, then I will do R&D by myself, if got any new findings, I will let you guys know.

[2017-03-15 22:47] wsargent commented on #73
Hi all -- placebocurejava has been banned from playframework, as he was posting on the google group with stolen credentials.  His comments have been removed.  Please see https://groups.google.com/forum/#!topic/play-framework/5FCht0abCI4 for more information.

[2017-03-15 22:48] wsargent commented on #100
Hi all -- placebocurejava has been banned from playframework, as he was posting on the google group with stolen credentials. His comments have been removed. Please see https://groups.google.com/forum/#!topic/play-framework/5FCht0abCI4 for more information.

[2017-03-28 09:59] sidthesloth commented on #10
Has there been traction on this issue? ...

[2017-03-28 11:35] sidthesloth commented on #10
@Mogztter if the below can be done
`@Inject
@Named("sendgrid")
MailerClient sendGridClient;

@Inject
@Named("mandrill")
MailerClient mandrillClient;`

.... how would the application.conf play.mailers look like?

[2017-04-25 08:11] bhavyalatha26 opened #117 "Unresolved dependency error for 5.0 plugin while migrating existing play project from 2.4.x to 2.5.10"
Operating System : Windows 10

I have an existing play project running on 2.4.x , and we plan to migrate to 2.5.x .With the help of play migration guide for 2.5.x , I migrated the project to 2.5.10 and updated the play-mailer plugin from **3.0.1 to 5.0.0**
"com.typesafe.play" %% "play-mailer" % "5.0.0"

On clean and compile , I got this error below

[code]

**NOTE : I was unable to reproduce this

[2017-04-25 18:34] Mogztter commented on #117
`URI has an authority component` messages are weird.
 Could you please give me the path of your project and the full `build.sbt` file ?

[2017-04-26 08:01] avivshafir opened #118 "ReplyTo adding multiple values is not supported"
Is there any reason the replyTo field allows only adding one value?

[2017-04-26 17:27] marcospereira commented on #118
Hey @avivshafir, there is no special reason to have this limitation. Even the underlying lib (commons-email) has support to add multiple addresses in replyTo field.

Do you want to submit a pull request to improve this?

Thanks.

[2017-04-27 05:46] avivshafir commented on #118
#119

[2017-05-02 08:29] bhavyalatha26 commented on #117
hi @Mogztter , this is our build file
[code]

[2017-06-15 11:22] joshkamau commented on #117
I had the same issue. I had to change the dependency to this:
`libraryDependencies += "com.typesafe.play" % "play-mailer_2.11" % "5.0.0"
`
which i found here [https://mvnrepository.com/artifact/com.typesafe.play/play-mailer_2.11/5.0.0](https://mvnrepository.com/artifact/com.typesafe.play/play-mailer_2.11/5.0.0)

[2017-06-15 14:51] mullex opened #125 "how to instantiate a controller class with injection in play framework 2.5.x"
I just upgraded the play framework to 2.5.x. I refactored the mail sending function with play mail 5.0.0. However, When i try to send the email, i get error that the parameter doesn't match the signature.

How can i instantiate the MailHandler class without having to define a route?

[code]
[code]

[2017-06-16 16:01] marcospereira commented on #125
Hey @mullex,

It is not about defining a route or not (although it is "unusual" to have controllers without defining the routes).

The problem here is that `MailerHandler` declares a controller that requires `MailerClient`, `MessagesApi` and `Environment` and your test is not passing these parameters when instantiating the `MailHandler`:

[code]

This needs to be something like:

[code]
You decide

[2017-06-16 16:01] #125 closed

[2017-06-16 20:56] #86 closed

[2017-06-21 14:16] mkurz commented on #118
Fixed with #119

[2017-06-21 14:16] #118 closed

[2017-06-21 21:41] mkurz commented on #87
Fixed in #126

[2017-06-21 21:41] #87 closed

[2017-06-21 21:43] mkurz commented on #85
Fixed with #126

[2017-06-21 21:43] #85 closed

[2017-06-22 07:02] schmitch commented on #108
closed since master does not depend on play anymore.

[2017-06-22 07:02] #108 closed

[2017-06-22 07:02] schmitch opened #127 "new release"
@gmethvin , @Mogztter it would be great to make a release soon. Since I removed play as a direct dependency it shouldn't be a big issue.

[2017-06-22 07:13] gmethvin commented on #127
Sure. We are planning on doing the 2.6.0 release soon, so when I do that I can update the play test dependency and release.

[2017-06-22 07:14] schmitch commented on #127
well I think it would be great to at least have a RC of play-mailer before the play 2.6 release, especially since the new play-mailer will run on 2.5.x and 2.6.x

[2017-06-22 07:19] gmethvin commented on #127
Okay, that's fair. I'll release a 2.6.0-RC1 first then.

[2017-06-22 07:20] gmethvin commented on #127
meant to say 6.0.0-RC1

[2017-06-22 07:40] gmethvin commented on #127
https://oss.sonatype.org/content/repositories/releases/com/typesafe/play/play-mailer_2.12/6.0.0-RC1/

[2017-06-26 09:17] zsy1217 opened #129 "EmailAddress cannot longer than 253bytes？"
when i try sending mail to 255 bytes mail address. like "eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeesample1@sample.com"
then error has occured ↓
Caused by: com.sun.mail.smtp.SMTPAddressFailedException: 553

[2017-06-26 09:21] schmitch commented on #129
can you please give a little bit more info about the issue?

[2017-06-26 09:28] zsy1217 commented on #129
i added the information

[2017-06-26 09:28] schmitch commented on #129
No that is correct according to the spec, so closing as not a bug:
https://tools.ietf.org/html/rfc3696#section-3

[2017-06-26 09:28] #129 closed

[2017-06-26 09:58] zsy1217 commented on #129
ummm  i tried [63byteuser]@[191bytedomain] which comply with the above rules
 but the same error still occured.

[2017-06-27 20:45] #127 closed

[2017-07-28 07:42] prashanthd opened #130 "Caused by: com.google.apphosting.api.ApiProxy$CallNotFoundException: Can't make API call mail.Send in a thread that is neither the original request thread nor a thread created by ThreadManager"
Getting following exception when sending mail. sbt plug in version is **2.5.12**. Wrote the sending mail code controller itself still facing the issue. Please observe the following logs.

[code]

[2017-07-28 13:57] prashanthd commented on #130
I wrote simple method and called from main method then mail was sending. Same code I put in play application then gating above exception.
**Caused by: com.google.apphosting.api.ApiProxy$CallNotFoundException: Can't make API call mail.Send in a thread that is neither the original request thread nor a thread created by ThreadManager**

**_Below is the working code_**

`private void sendMailO(){
		fi

[2017-07-29 07:32] schmitch commented on #130
This is not a Bug in play-mailer. Please go to the mailing List for help with your code, basically this is either hosted on AppEngine, which is unsupport  (since it's not Java 8) or any Google Dependency that actually tried to override a internal javax.mail class.

[2017-07-29 07:32] #130 closed

[2017-08-02 10:22] ajkamath commented on #110
The link by @Mogztter is no longer valid. Can someone re-direct me to correct one.
I am using Play-Java and want to check how to manually instantiate

[2017-08-02 10:36] Mogztter commented on #110
The user manual has moved to the README.
@ajkamath Here's the link: https://github.com/playframework/play-mailer/blob/master/README.md#multiple-smtpmailer-instances

[2017-08-02 10:59] ajkamath opened #133 "Multiple mail client support for Play Java"
I am not able to add multiple mail client either from configuration or by instantiating in Play Java.

[2017-08-02 11:19] ajkamath commented on #110
@Mogztter : thanks for the link. But I went through this before and since i'm using PlayJava, I am getting errors.
First of all not able to use scala.Option<String> for username and password and also IDE throws error saying method call expected(Doc says to use constructor of SMTPConfiguration but it should actually be SMTPConfiguration.apply(...). Else the said error).

[2017-08-03 07:51] Gex8 commented on #102
You have to check two important things when you want to send emails via Gmail smtp:

1. Your apps configuration:
- host: `smtp.gmail.com`
- port: `587` or `465` (587 for tls, 465 for ssl)
- protocol: `tls` or `ssl`
- user: `YOUR_USERNAME@gmail.com`
- password: `YOUR_PASSWORD`

2. The given Gmail account settings:
 - If you've turned on 2-Step Verification for your account, you might need to enter

[2017-08-03 17:20] Mogztter commented on #133
Could you please be more specific ? If you convert the following Scala code into Java code it should work fine:

[code]

[2017-08-21 04:43] ogis-onishi opened #134 "How to send a mail using TLSv1.2"
Hi, I want to send a mail using TLS v1.2 for some reasons. Could you help me know how to set it on my configuration.

I have read the Getting Started section on the README but there is no place to set it.
https://github.com/playframework/play-mailer#getting-started

FYI: In Java Mail, I just write the following code to specify tls protocol. I want to do the same with play-mailer.

[code]

[2017-08-21 16:37] Mogztter commented on #134
Commons email is using the `System.getProperties()` to instantiate a new `Session`:

https://github.com/apache/commons-email/blob/5516c487a5d03df520480d47f5c5ae5a3b3341d4/src/main/java/org/apache/commons/mail/Email.java#L637

So you'll need to set the property `mail.transport.protocol` and `mail.smtps.ssl.protocols`:

[code]

The other properties can be configured using a configuration file.

[2017-08-22 02:57] ogis-onishi commented on #134
thanks!

[2017-08-22 02:57] #134 closed

[2017-11-06 17:29] Spenhouet opened #136 "How to send emails with ssl?"
I have set the `ssl` option to `true` or `yes` (I don't know if there is a difference between `yes` and `true` or `no` and `false`) but still the debug output says that ssl is false (`isSSL false`). This sounds wrong or is this correct?

Config:

[code]

Output:

[code]

[2017-11-06 21:29] schmitch commented on #136
not a bug. ssl port is definitiv not 443. most likely you need tls = true and ssl = false. also the port is either 25, 465, 587 (but the settings, change depending on your server)

[2017-11-06 21:29] #136 closed

[2017-11-10 18:55] karimireddy opened #137 "Issue with MailerClient"
Hi,
When I'm trying to upgrade MailClient for Play Framework 2.5 from API which is deprecated. I've followed the documentation and created the required files and given entries in required files as per documentation. After everything is set, when I try to run my application I'm getting the following error on the browser network response tab. Help needed to resolve the following error.

**Unable to

[2017-11-10 19:33] schmitch commented on #137
This is not a bug. You might forgot to add `"com.typesafe.play" %% "play-mailer-guice" % "6.0.1"`.
Please use the mailing list for questions.

[2017-11-10 19:33] #137 closed

[2017-11-10 20:07] karimireddy commented on #137
Hi,
Thanks for the update. I've added that dependency to the "build.sbt" file already. But Still, I'm getting the issue.

[2017-11-10 20:08] schmitch commented on #137
Actually without a reproducer and a full stacktrace it's hard to debug/analyze.

[2017-11-10 20:15] karimireddy commented on #137
please give me your email id I'll share you the entire stack trace and how I stuck with this.
Thank You

[2017-11-10 20:16] schmitch commented on #137
You can find it on my github profile. You can also just create a small reproduction project on github.

[2017-11-10 20:18] karimireddy commented on #137
Yeah, got it and I'll do that and let you know. Thank You very much for the prompt response :)

[2017-11-13 09:37] Spenhouet commented on #136
@schmitch That was not my question / bug report. I'm using our own server with a custom port configuration.

The question is: Why it reports **isSSL false** although I have set **ssl = true**?

[2018-01-30 15:38] IntelligyScience opened #141 "Signing E-Mails with smime"
Is it possible to sign an e-mail with an S-MIME with an official certificate?
And if yes how I have to do this. And if not, would be their an other way to sign the mail?
Thank you.

[2018-02-07 11:28] almothafar opened #142 "addReplyTo seems not working at all"
I'm using postmark to send emails, while [postmarkapp ](https://postmarkapp.com) not allowing me to send "from" any email except the one that I verify, I'm using the one that I verify to `from` and adding the email of user that using the from in website as `replyTo`, the problem that I get email for in `receiver` mailbox BUT when I try to reply it, I get `replyTo` as the same address as the email

[2018-02-07 12:52] almothafar commented on #142
It seems postmark issue not play-mailer, sorry :)

[2018-02-07 12:52] #142 closed

[2018-02-07 21:25] Mogztter commented on #142
@almothafar No worries, thanks for the follow-up.

[2018-02-23 11:31] hari-kris opened #143 "Sending username and password using POST to initate"
Is it possible to initialize the mail client by sending the username and password by POST message?, instead of setting in application.conf

[2018-06-12 06:48] suribabu39 opened #144 "Overwrite sender's mail id which is set in application.conf"
Hi, I have set required configurations in application.conf as below
play.mailer {
  host=smtp.gmail.com
  port=465
  ssl=true
  tls=false
  user="from@email.com"
  password = "****"
  debug=true
  mock=false
}

While sending some emails I need to override default sender's mail id(which was set in application.conf), it is still sending email from "from@email.com" rather than sending from "diff_from

[2018-07-07 06:41] me-ydv-5 opened #145 "NPE while trying to send email"
Hi!

I'm trying to send an email with the following configurations:
[code]

But I get the following NPE when I execute `mailerClient.send(email);` :
[code]

I'd be really thankful if someone could help me with this.

Thanks

[2018-07-07 07:06] me-ydv-5 commented on #145
Do I myself need to implement [send()](https://github.com/playframework/play-mailer/blob/master/play-mailer/src/main/java/play/libs/mailer/MailerClient.java#L14) function? If yes, how should I do so?

I've this piece of relevant code with me:
[code]
I first create an Email object using setEmail() and then call send(email) for the object named email.
Is there something fishy?

[2018-07-07 09:20] leczy642 opened #146 "Cannot install this plugin"
I would like the steps on how to install this plugin for an existing play application for Scala

[2018-07-07 09:44] Mogztter commented on #146
Hello @leczy642
Did you check the "Getting started" section in the README: https://github.com/playframework/play-mailer#getting-started ?

[2018-07-07 09:48] Mogztter commented on #145
Hello @me-ydv-5

Could you please share the file `SESEmailClient` (and more specifically the line 44 where the NPE occurred) ?

If the line is `mailerClient.send(email)`, please check that `mailerClient` is not `null`. If this is the case, your `mailerClient` may not be correctly configured (an thus not resolved/injected by Guice)

Thanks 😄

[2018-07-07 09:53] Mogztter commented on #144
As far as I remember, the email address configured in the `application.conf` will be used for the authentication. If you want to use another account you will need to manually instantiate another `SMTPMailer`: https://github.com/playframework/play-mailer#multiple-smtpmailer-instances

Does it make sense ?

[2018-07-07 09:59] Mogztter commented on #143
Sure, you can manually instantiate an `SMTPMailer`: https://github.com/playframework/play-mailer#multiple-smtpmailer-instances

So when you receive the username and the password from your POST request, you then configure an `SMTPConfiguration`:

**Pseudo-code**
[code]

[2018-07-07 10:11] Mogztter commented on #141
Hello @IntelligyScience
We do not provide an easy way to sign an email using S-MIME. I believe it's possible to use this library to sign an email with JavaMail: https://github.com/markenwerk/java-utils-mail-smime

[2018-07-07 10:12] Mogztter commented on #133
@ajkamath ping ?

[2018-07-07 10:15] #99 closed

[2018-07-07 10:15] #106 closed

[2018-07-07 10:16] Mogztter commented on #117
Thanks @joshkamau for the tip.

@bhavyalatha26 Does it solve your issue ? Can we close this issue ?

[2018-07-07 11:29] bhavyalatha26 commented on #117
yes @mogztter. It solved my issue , thank you @joshkamau

[2018-07-09 06:20] me-ydv-5 commented on #145
Hi! @Mogztter
Apologies for replying so late. I got my thing done. I was actually injecting the dependency at the wrong place. Anyway, thanks for your prompt response :)

[2018-07-09 06:20] #145 closed

[2018-07-09 07:01] Mogztter commented on #145
You're welcome, I'm glad you found a solution :+1:

[2018-07-09 09:13] me-ydv-5 commented on #104
Sorry for spamming everyone here, but looks like the task gets completed only be workaround told by @Mogztter. Is anyone able to reason out why it works only in case of new Execution Context. Thanks for the workaround though, it has literally solved my long pending problem.

[2018-09-06 17:27] heiflo opened #149 "Compilation error when used with Play 2.6.18 and compile time injection"
I integrated play-mailer 6.0.1 with Play 2.6.18 with compile time injection. Unfortunately, I get following compilation error (I followed the instructions of your documentation):

[code]

In order to provide a reproducable example I forked the compile time injection example from the playframework repo and integrated the play-mailer according to your documentation:
[https://github.com/heiflo/play-s

[2018-09-17 16:53] nkmittal opened #150 "Unable to disable TLS v1.0 with play-mailer 5.0 (using Play 2.5.x)"
I disabled TLS version on my Play web server (2.5.x + Scala) using java.security (using Java 8) file as below:
[code]
With this change (TLSv1) I am not able to send emails to smtp.gmail.com:465. I am using play-mailer version 5.0.0. The settings in application.conf file:
[code]
I get following error:
[code]

[2018-09-17 20:39] Mogztter commented on #150
That weird, I would expect the handshake to choose TLS v1.1 or v1.2.
Maybe it's mandatory to define `mail.smtp.ssl.protocols=TLSv1.2` ?

[2018-09-18 07:40] nkmittal commented on #150
I tried with "mail.smtp.ssl.protocols=TLSv1.2" but it didn't work. I think play-mailer is using only TLSv1.0.

[2018-09-18 08:26] Mogztter commented on #150
Where/how did you configure this parameter ?

I'm not sure about that. Play mailer is using Java mail to connect and perform the SSL handshake to the mail server.
First we should try to reproduce this issue using only Java mail.

[2018-09-18 09:36] nkmittal commented on #150
I added this configuration in application.conf file:
[code]

[2018-09-18 13:41] Mogztter commented on #150
This configuration is only available on master (merged 17 hours ago). If you want to test with this parameter you will need to build this library from the source or wait the next release.

[2018-09-19 03:50] nkmittal commented on #150
Should I assume that play-mailer 5.0 will not work when TLSv1.0 is disabled in java.security ? This is going to be a problem as I have lot of dependency on play-mailer on sending emails. I don't want to upgrade to Play 2.6.x at this time as my web application is in production.

[2018-09-19 06:14] Mogztter commented on #150
First I need to reproduce this issue with Java mail and Play mailer. Maybe a workaround exists and if it's not the case we could backport this new feature to Play mailer 5.x (compatible with Play 2.5.x).

I understand, don't worry we will find a solution :wink:

[2018-09-19 06:33] Mogztter commented on #150
I'm reading this issue again: https://github.com/playframework/play-mailer/issues/134

I think your configuration should be:
[code]
Since you want to use TLS (not SSL). And as mentioned in https://github.com/playframework/play-mailer/issues/134 you should define system properties:

[code]

[2018-09-19 08:06] nkmittal commented on #150
I tried that config (in Play config file)  but it didn't work. But I didn't try the System properties. I will try that and update.

[2018-09-19 08:45] nkmittal commented on #150
Ok it works. Just need to pass one System property when running Play web app:
`-Dmail.smtp.ssl.protocols=TLSv1.2`

NOTE: Need 'smtp' only. No need for 'smtps'.
Thanks a lot for the help !

[2018-09-19 08:47] mkurz commented on #150
Great! I the next version it should be possible to just configure the setting like you already described in [your command above](https://github.com/playframework/play-mailer/issues/150#issuecomment-422325756).

[2018-09-19 08:47] #150 closed

[2018-09-19 09:43] Mogztter commented on #150
You're welcome 👍

[2018-09-21 02:59] iAmcR opened #151 "Authentication Failure With Gmail in Play-Mailer 6.0.1"
Authentication fails on TLS or SSL when using smtp.gmail.com:587 (TLS) or smtp.gmail.com:465 (SSL).

To by-pass the failure, I have to enable less secure apps on the corresponding gmail account for it to work.  https://www.google.com/settings/security/lesssecureapps

Is it that this version lacks the latest authentication mechanisms that's causing Gmail to see the authentication attempt as "less s

[2018-10-08 06:47] sagargit2 opened #152 "Email sent goes to spam"
I am using **play-mailer 2.4.0** in my `play-scala` application.
The email is sent but gmail detects it as spam everytime.

[2018-10-08 07:37] mkurz commented on #152
This has absolutely nothing to do with `play-mailer`. As you said the E-Mail is sent. Therefore `play-mailer` did it's job.
You should read some guide on how to sent E-Mail reliable. Google for "[SPF](https://www.google.com/search?q=spf)", "[DKIM](https://www.google.com/search?q=DKIM)" and "[DMARC](https://www.google.com/search?q=DMARC)".

[2018-10-08 07:37] #152 closed

[2018-11-16 22:49] jdauphant opened #153 "New release"
Hello,

Are you planning to make a new release soon ? (I would like to use the "props" feature)
If not, is there a snapshot repository or a way to use the master version of the library in a play project ?

Thanks for your help,
Julien

[2018-11-18 21:04] Mogztter commented on #153
Hello Julien,

There's no plan but I think it's a good idea to make a new release with this feature.
I don't have the right to create and publish a new release. I believe only @gmethvin can do it ?

[2018-11-19 04:00] gmethvin commented on #153
Anyone with access to publish to `com.typesafe` (@playframework/core) should be able to perform a release. We'll definitely have to do that before Play 2.7.0 comes out, and probably make a release candidate first.

I think we probably want 7.0.0 to support Play 2.7.0 and then release 6.1.0 or something for Play 2.6.x?

[2018-11-19 12:12] dwijnand commented on #153
I think @renatocaval will take care of this.

[2018-11-19 12:46] Mogztter commented on #153
Sounds good 👍

Cool 😉

[2018-11-19 13:29] mkurz commented on #153
The version was bump to 7.0 because 750f8d0 breaks backwards compatibility.
I think what should be done is:
* Release 7.0-RC1 from master branch with Play 2.7-RC3
* Release 6.1 with 750f8d0 included for Play 2.6.x

[2018-11-19 13:57] renatocaval commented on #153
This seems to be in contradiction with the reasons to bump the version to `7.0`, no? If 750f8d0 breaks backward compatibility, it should not be merged in `6.x`.

[2018-11-19 14:19] mkurz commented on #153
Alright, if don't want to break between 6.0 and 6.1 then it should be only 7.0.

[2018-12-05 11:56] prashantkrv commented on #26
How to make the scala-play-mailer work with scala version 2.12.7 . It says the dependency  net.kaliber#scala-mailer-play_2.12;6.0.1: not found. How could I make this work? Its Urgent!

[2019-01-21 12:51] Ender-Wiggin opened #156 "office365 smtp session"
Hi there,

I'm having trouble with sending emails via office365. I've tried gmail and it works fine but this isn't working for some reason. Here's my config:

# Play mailer
play.mailer {
  host = "smtp.office365.com"
  port = 587
  tls = true
  user = "test@test.com"
  password = "test"
  props {
	starttls.enable = true
	starttls.required = true
  }
}

I get this error:
Sending the email to the fo

[2019-01-21 13:14] mkurz commented on #156
Can you provide more information about the error?

[2019-01-22 08:51] #156 closed

[2019-01-29 22:20] mkurz opened #158 "Cross build for Scala 2.13.0"
Just a reminder, should be done as soon as Play 2.7 is final, see https://github.com/playframework/playframework/pull/8998

https://github.com/playframework/play-mailer/blob/16f7763e1953e47ade58e9a8ba48048c59479d9d/build.sbt#L11

[2019-01-31 18:58] #158 closed

[2019-02-03 14:52] Mogztter commented on #149
Indeed the `MailerComponents` needs to resolve a configuration.

Sure let's do that :+1:

[2019-04-29 17:33] EtienneLav opened #164 "No logs in mock mode (play 2.7)"
Do you know if mockmailer has been updated for play 2.7 ?

My mail is sent when i turn "mock" to "no" but nothing was logged when i set "mock = yes".

Thanks

(  Version :
  "com.typesafe.play" %% "play-mailer" % "7.0.0",
  "com.typesafe.play" %% "play-mailer-guice" % "7.0.0"
)

[2019-05-01 20:59] marcospereira commented on #164
Hey @EtienneLav,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. Github issues are for reporting bugs and feature requests, not for general discussion and getting help. Given that, I'm closing this.

When using our forums, it would be good to share your logback.xml configuration as well, since the logs may not be appearing due to how the logging framework

[2019-05-01 20:59] #164 closed

[2019-05-10 09:12] malviyamukul commented on #98
update spf records of that domain according to [office365](https://docs.microsoft.com/en-us/Exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3?redirectSourcePath=%252fen-us%252farticle%252fhow-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-365-69f58e99-c550-4274-ad18-c805d654b4c4)

[2019-09-17 09:12] jason-lo commented on #134
props.put("mail.smtps.ssl.protocols", "TLSv1.2") is wrong here.
It should be
props.put("mail.smtp.ssl.protocols", "TLSv1.2")

[2019-09-19 19:00] threeel commented on #73
@drhumlen maybe you can use something like this https://github.com/mailhog/MailHog have it as docker and use its API to do your test.

[2019-12-18 12:44] cejkajirka opened #173 ".addTo() needs to be properly escaped or UTF-8 encoded"
When try something like this

`Email email = new Email().addTo("YOU, YOU ONLY YOU <email@example.com>");`

there is a complain:

[2020-01-20 12:27] mkurz commented on #173
This is not a bug in `play-mailer`.
If you use a comma in the name part of the email you need to escape it. That how specs define an email address. Solution is:
[code]

[2020-01-20 12:27] #173 closed

[2020-01-27 10:29] aakldey opened #175 "Unresolved dependencies path for 8.0.0"
Hey, it's not working for Play 2.8, even with sample projects, it says

[code]

and yea, in repo https://repo1.maven.org/maven2/com/typesafe/play/play-mailer_2.13/ there is only 7.0.1 version

[2020-01-27 10:33] mkurz commented on #175
@aakldey You are right, play-mailer 8.0.0 is not released yet (even though it made its way in the README already).
I guess the Play team will release it when they find time :wink:

[2020-01-29 21:36] marcospereira commented on #175
play-mailer 8.0.0 released. It should be in Maven Central in a few minutes.

[2020-01-29 21:36] #175 closed

[2020-02-06 15:54] scand1sk opened #176 "NTLM authentication"
Hi,

It may not be an issue with Play-Mailer itself but rather the underlying JavaMail API, but I have trouble trying to connect to an MS Exchange SMTP server. I am connecting using plaintext SMTP on port 25. Apparently, the server only supports NTML authentication. EHLO on Telnet responds :
[code]

I carefully checked login and password are correct but still get `javax.mail.AuthenticationFailedEx

[2020-02-06 22:13] mkurz commented on #176
I don't think this has something to do with play-mail. What you can do is: Set up a small java project which only uses the Apache commons-email library and try to send an email with it. If that works, lets see what we need to change in play-mailer to make this work.

[2020-03-05 17:00] Christophenkoa commented on #144
HI , then there is no way to dynamically used several sender's email id? How should i do if i want to create a blog and receive all feedbacks of my visitors through my email(in this case each visitor is a sender). I am a beginner in play. Thank for your help and sorry for my english

[2020-03-05 21:57] Mogztter commented on #144
Hi @Christophenkoa
I don't think you should "impersonate" each visitor by sending an email from their email address. I believe, it's a bad practice to send an email from an arbitrary email address.
Instead you should send an email with your email address (or a bot account email address) and add the email address of your visitor in the body/title of your email.

The user/from address is really for

[2020-03-07 16:04] Christophenkoa commented on #144
Thanks a lot!
My mentor told me the same thing.
It makes sense

[2020-04-08 13:39] EdozdeDandez opened #177 "Get a nullpointerexception when trying to send mail"
I am trying to send an email using this but I keep getting a null pointer exception. I thought I had passed a null variable to be sent and printed them only to find that the MailerClient is nulland is the one causing the error.

[2020-08-10 17:25] mmesar opened #190 "SBT assembly"
Hi,
im using scala 2.13.1,
play framework version 2.8.1,
sbt version 1.3.4

have dependencies:
[code]

and I am using sbt assembly plugin `("com.eed3si9n" % "sbt-assembly" % "0.14.5")` to create nice fat single jar
with this configuration
[code]
When i try to run `sbt assembly` command I get this
![deduplicate](https://user-images.githubusercontent.com/24696326/89810855-02d21880-db3e-11ea-9d3b-98e

[2020-08-11 09:10] raboof commented on #190
Well, the problem is that the resources in different dependencies overlap and aren't identical.

In the case of mailcap.default and mimetypes.default, I *suspect* the files are actually really similar and you can configure the assemblyMergeStrategy to just pick one.

In case of the overlap between jakarta.activation-api and javax.activation, I guess it would be best to pick one and exclude the oth

[2020-08-17 12:50] mmesar commented on #190
I succeed in making jar with following code added in build.sbt
[code]

Again following question may not be appropriate to this place. Again would be grateful with advice where to look and ask next.
I am curious what exactly is happening here so I could understand the situation better. This is my take on it.
At some point while 'building' jar, 'engine' will download all dependencies from all 'compo

[2020-08-22 10:38] ghost opened #191 "Not establishing StartTLS connection"
When connecting to port 587 running StartTLS, with the config

the following Exception is encountered:

`play.api.UnexpectedException: Unexpected exception[EmailException: Sending the email to the following server failed : mail.mydomain.com:587]
	at play.api.http.HttpErrorHandlerExceptions$.throwableToUsefulException(HttpErrorHandler.scala:328)
	at play.api.http.DefaultHttpErrorHandler.onServerErr

[2020-10-11 14:16] tg44 opened #192 "Streaming attachments"
Is there a way to stream the attachments instead of keeping the whole thing in memory? I have multiple files generated and added to the mails, they are `Source[ByteString, NotUsed]`s and I need to generate and wait all the data to get an `Array[Byte]` out of them, which is not really what I think optimal...

[2020-10-11 19:31] mkurz commented on #192
With `play-mailers` own `Email` class, currently this is not possible (yet). Right now we support only [files or arrays](https://github.com/playframework/play-mailer/blob/8.0.1/play-mailer/src/main/scala/play/api/libs/mailer/Attachment.scala#L7-L22) as attachment.
However, `play-mailer` uses Apache Commons Email under the hood, which provides [some additional methods](https://commons.apache.org/pr

[2020-10-12 12:48] tg44 commented on #192
The project currently not use any akka deps, this was the main reason I didn't hop to a "lets make a PR" train.

What do you think, should we document this workaround, or create a module/artifact just for the additional streaming? Adding akka as a dep could be a pain, I would not cross that bridge if I don't need to...

[2021-04-21 10:28] mkurz commented on #192
Finally found time for a PR: #193

[2021-04-23 09:03] #192 closed

[2021-05-19 04:31] vishal-swarankar-sdl commented on #151
Hi @dwijnand,  do you have any updates for this issue? Any upcoming version which will have this fixed. Once we enable lesssecureapps in Gmail, we get opened for email spoofing-based attacks. It will be helpful if you can prioritize this issue.

[2021-05-22 06:59] djonmayer opened #194 "[2.x] How to send a mail using TLSv1.2 or TLSv1.3"
I have to use TLSv1.2 or TLSv1.3 with 2.4.1 of play-mailer-plugin.
In the new version of JDK TLSv1 and TLSv1.1 are disabled.
How I can configure play-mailer-plugin to use the new version of TLS?

[2021-06-11 15:51] iammichiel commented on #194
HI @djonmayer

Any success updating to work with TLS 1.2 or up?

[2021-07-06 07:51] cyrilfr commented on #141
How do you sign the `Email` instance using this library?

[2021-12-17 12:36] suncj518 opened #195 "Error - no object DCH for MIME type multipart/mixed"
Hi all,
I tried the email send function, I got the error below, anyone can help?

Exception in thread "main" org.apache.commons.mail.EmailException: Sending the email to the following server failed : smtp.163.com:25
at org.apache.commons.mail.Email.sendMimeMessage(Email.java:1469)
at org.apache.commons.mail.Email.send(Email.java:1496)
at play.api.libs.mailer.SMTPMailer$$anon$1.send(SMTPMailer.scal

[2022-03-24 06:22] gill876 commented on #91
Which library is used for `BaseService`?

IntelliJ imported `com.google.cloud.BaseService`, but I got the error _There is no default constructor available in 'com.google.cloud.BaseService'_. After making the constructor by adding `super();`, I got _'BaseService(com.google.cloud.ServiceOptions)' in 'com.google.cloud.BaseService' cannot be applied to '()'_. And super takes in `com.google.cloud.Servi

[2022-03-29 20:56] almothafar commented on #91
Oh you don't mind this, remove it, I had a structure for my services, so it is my own `abstract class BaseService`